      <p class="notice"><%= @notice %></p>
<%= form_for @staff, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @staff.errors.any? %>
    <strong><%= @staff.errors.count %> errors detected.</strong>
    <ul>
    <% @staff.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

  <div class="form-group ">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group ">
    <%= f.label :email, :class => 'control-label  col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group ">
    <%= f.label :organization_id, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.select(:organization_id, Organization.all.collect { |o| [o.organization_name, o.id]} , {include_blank: 'Choose Organization'}, {class: 'form-control'}) %>
    </div>
  </div>

  <div class="form-group ">
    <%= f.label :role, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.select(:role, ['Admin', 'Head', 'Staff'], {include_blank: 'Choose Role'}, {class: 'form-control'}) %>
    </div>
  </div>

  <div class="form-group ">
    <%= f.label :position, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :position, class: 'form-control' %>
    </div>
  </div>

  <div class="form-actions ">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                staffs_path, :class => 'btn' %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
<div class="container"><br/></div>