<%- model_class = Staff -%>
<div class="">
  <%= link_to t('.new', :default => t("helpers.links.new")), new_staff_path, :class => 'btn btn-primary btn-sm pull-right' unless current_user.role == 'staff' %>
  <h4><%=t '.title', :default => model_class.model_name.human.pluralize %> <small>(<%= @staffs.count || 0 %>) found.</small></h4>
</div>

<% if current_user.role != "Member" %>
    <div class="alert alert-warning">Click the 'FILTER' button.</div>
    <div class="row" style="margin-bottom: -15px;" >
      <%= form_tag '/staffs', method: 'get' do %>
        <div class="col-sm-5">
            <%= text_field_tag :search_by, params[:search_by], placeholder: 'Name/ Email', autocomplete: :off, class: 'form-control input-sm pull-right' %>
        </div>
        <div class="col-sm-4">
            <%= select_tag :search_role, options_for_select(['Admin', 'Head', 'Staff']), {include_blank: 'Choose Role', class: 'form-control input-sm'} %>
        </div>
        <div class="col-sm-1 pull-right">
            <%= submit_tag 'Filter', name: nil, class: "btn btn-primary btn-sm pull-right" %>
        </div>
      <% end %>
    </div>
<% end -%>

<% if @staffs.present? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:email) %></th>
          <th><%= model_class.human_attribute_name(:role) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @staffs.each do |staff| %>
          <tr>
            <td><%= staff.name %></td>
            <td><%= staff.email %></td>
            <td><%= staff.role %></td>
            <% unless current_user.role == "Staff" %>
            <td>
              <%= link_to t('.show', :default => t("helpers.links.show")),
                          staff_path(staff), :class => 'btn btn-xs' %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_staff_path(staff), :class => 'btn btn-primary btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")), staff_path(staff), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger btn-xs' if current_user.role == "Admin" %>
            </td>
            <% end -%>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div align="center">
      <%= will_paginate @staffs %>
    </div>
<% else %>
    <br/>
    <div class="alert alert-info">No data found.</div>
<% end -%>
