<%- model_class = Announcement -%>
<div class="">
  <h4><%=t '.title', :default => model_class.model_name.human %></h4>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @announcement.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @announcement.date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:content) %>:</strong></dt>
  <dd><%= @announcement.content %></dd>
  <dt><strong><%= model_class.human_attribute_name(:organization) %>:</strong></dt>
  <dd><%= @announcement.organization.organization_name if @announcement.organization.present? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:committee) %>:</strong></dt>
  <dd><%= @announcement.committee.name if @announcement.committee.present? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:member_type) %>:</strong></dt>
  <dd><%= @announcement.member_type %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              :back, :class => 'btn'  %>
</div>
