<%- model_class = Attachment -%>
<div class="">
  <%= link_to t('.new', :default => t("helpers.links.new")), new_attachment_path, :class => 'btn btn-primary btn-sm pull-right' if user_signed_in?  %>
  <h4><%=t '.title', :default => model_class.model_name.human.pluralize %> <small>(<%= @attachments.count || 0 %>) found.</small></h4>
</div>

<% if current_user.role != "Member" %>
    <div class="alert alert-warning">Click the 'FILTER' button.</div>
    <div class="row" style="margin-bottom: -15px;" >
        <%= form_tag '/attachments', method: 'get' do %>
            <div class="col-sm-5">
                <%= text_field_tag :search_by, params[:search_by], placeholder: 'Filter by Member Name', autocomplete: :off, class: 'form-control input-sm' %>
            </div>
            <div class="col-sm-4">
                  <%= select_tag :search_attachment_type, options_for_select(["Bank Payment Slip", "Picture", "Certificates"]), {include_blank: 'Choose Type', class: 'form-control input-sm'} %>
            </div>
            <div class="col-sm-1 pull-right">
                <%= submit_tag 'Filter', name: nil, class: "btn btn-primary btn-sm pull-right" %>
            </div>
        <% end %>
    </div>
<% end %>

<% if @attachments.present? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:membership_application_id) %></th>
          <th><%= model_class.human_attribute_name(:attachment_type) %></th>
          <th><%= model_class.human_attribute_name(:file_attachment) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @attachments.each do |attachment| %>
          <tr>
            <td><%= attachment.membership_application.name if attachment.membership_application.present? %></td>
            <td><%= attachment.attachment_type %></td>
            <td><%= image_tag attachment.file_attachment.url(:small) %></td>
            <td>
              <%= link_to t('.show', :default => t("helpers.links.show")), d_attachment_path(attachment), :class => 'btn btn-xs' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div align="center">
      <%= will_paginate @attachments%>
    </div>
<% else %>
    <br/>
    <div class="alert alert-info">No data found.</div>
<% end -%>
