<%- model_class = Attachment -%>
<div class="">
  <h4><%=t '.title', :default => model_class.model_name.human %></h4>
</div>


<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:membership_application_id) %>:</strong></dt>
  <dd><%= @attachment.membership_application.name if @attachment.membership_application.present? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:attachment_type) %>:</strong></dt>
  <dd><%= @attachment.attachment_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:file_attachment) %>:</strong></dt>
  <dd><%= image_tag @attachment.file_attachment.url(:medium) %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              :back, :class => 'btn'  %>
  <!-- <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_attachment_path(@attachment), :class => 'btn btn-primary' if current_user.role == 'Admin'  %> -->
</div>
