<%- model_class = CommitteeMember -%>
<div class="">
  <h4><%=t '.title', :default => model_class.model_name.human.pluralize %> <small>(<%= @committee_members.count || 0 %>) found.</small></h4>
</div>

      <% if @committee_members.present? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:organization_id) %></th>
      <th><%= model_class.human_attribute_name(:committee_id) %></th>
      <th><%= model_class.human_attribute_name(:member_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @committee_members.each do |committee_member| %>
      <tr>
        <td><%= link_to committee_member.id, committee_member_path(committee_member) %></td>
        <td><%= committee_member.title %></td>
        <td><%= committee_member.organization.organization_name if committee_member.organization.present? %></td>
        <td><%= committee_member.committee.name if committee_member.committee.present? %></td>
        <td><%= committee_member.member.name if committee_member.member.present? %></td>
        <td><%=l committee_member.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
      <% else %>
<div class="alert alert-info">No data found.</div>
      <% end -%>

