<div class="page-header" align="center">
			<h5>Welcome to MCPA.</h5>
</div>
<% if !user_signed_in? %>
		<h5>Join MCPA</h5>
		<%= image_tag 'mcpa_logo' %>
		<!-- <%= link_to 'Register', new_membership_application_path %> | -->
		<%= link_to 'Sing_in', new_user_session_path %>
<% elsif current_user.role == "Member" %>
	<div align="center">
			<%= image_tag 'mcpa_logo' %>
	</div>
<% else %>

<% if @members.present? %>
<h5>Latest 10 members</h5>
        <table class="table table-striped table-hover table-condensed">
          <thead>
            <tr>
              <th>member_no</th>
              <th>name</th>
                <th>Highest Education</th>
                <th>grade</th>
              <% unless current_user.role == "Member" %>
                  <th>email</th>
                  <th>phone</th>
                  <th>acceptance_date</th>
                  <th>valid_till</th>
                  <th>organization</th>
              <% end -%>
            </tr>
          </thead>
          <tbody>
            <% @members.each do |member| %>
              <tr>
                <td><%= member.member_no %></td>
                <td><%= member.name %></td>
                <td><%= member.highest_education %></td>
                <td><%= member.memberships.first.grade if member.memberships.present? %></td>
                <% unless current_user.role == "Member" %>
                    <td><%= member.email %></td>
                    <td><%= member.phone %></td>
                    <td><%= member.acceptance_date %></td>
                    <td><%= member.memberships.first.valid_till if member.memberships.present? %></td>
                    <% if member.memberships.any? %>
                      <% if member.memberships.first.organization.present? %>
                        <td><%= member.memberships.first.organization.organization_name %></td>
                      <% else %>
                        <td></td>
                      <% end %>
                    <% else %>
                      <td></td>
                    <% end %>
                <% end -%>
              </tr>
            <% end %>
          </tbody>
        </table>
<% end -%>

<% end %>
