<%- model_class = Member -%>
<div class="">
  <h4><%=t '.title', :default => model_class.model_name.human %></h4>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:member_no) %>:</strong></dt>
  <dd><%= @member.member_no %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @member.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:burmese_name) %>:</strong></dt>
  <dd><%= @member.burmese_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dob) %>:</strong></dt>
  <dd><%= @member.dob %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nrc) %>:</strong></dt>
  <dd><%= @member.nrc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:father_name) %>:</strong></dt>
  <dd><%= @member.father_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @member.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:township) %>:</strong></dt>
  <dd><%= @member.township %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @member.state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @member.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @member.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:is_world_member) %>:</strong></dt>
  <dd><%= @member.is_world_member %></dd>
  <dt><strong><%= model_class.human_attribute_name(:highest_education) %>:</strong></dt>
  <dd><%= @member.highest_education %></dd>
  <dt><strong><%= model_class.human_attribute_name(:areas_of_training) %>:</strong></dt>
  <dd><%= @member.areas_of_training.compact if @member.areas_of_training.present? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:efficiencies) %>:</strong></dt>
  <dd><%= @member.efficiencies.compact if @member.efficiencies.present? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:areas_of_professional_working_experiences) %>:</strong></dt>
  <dd><%= @member.areas_of_professional_working_experiences.compact if @member.areas_of_professional_working_experiences.present? %></dd>

</dl>

<h4>Organizations List</h4>
<% if @member.memberships.any? %>
    <table class="table table-striped table-hover table-condensed">
      <tr>
        <th>Organization Name</th>
        <th>Grade</th>
        <th>Price/Deduct</th>
        <th>Valid Till</th>
        <th>Ecmember</th>
      </tr>
      <% @member.memberships.each do |membership| %>
        <tr>
          <td><%= membership.organization.organization_name %></td>
          <td><%= membership.grade %></td>
          <td><%= number_with_delimiter((membership.valid_till.to_datetime - DateTime.now.to_datetime).to_i / 365 * @price, delimiter: ',')  %></td>
          <td><%= membership.valid_till %></td>
          <% if @member.ecmembers.any? %> 
            <td>yes</td>
          <% else %>
            <td>no</td>
          <% end %>
        </tr>
      <% end %>
    </table>
<% end %>

<div class="form-actions">
      <%= link_to t('.back', :default => t("helpers.links.back")), :back, :class => 'btn'  %>
      <%= link_to "Extend Membership", "/memberships/#{@membership.id}/extend", class: 'btn btn-success' unless @membership.grade == "Fellow Member" %>
      <%= link_to "Upgrade Membership", "/memberships/#{@membership.id}/upgrade", class: 'btn btn-success' unless @membership.grade == "Fellow Member" %>
</div>
