<%- model_class = Member -%>
<div class="">
    <% unless current_user.role == 'Member' %>
      <div class="pull-right">
        <%= link_to "<span class='glyphicon glyphicon-download-alt'></span> Export Excel".html_safe,
              controller.action_name + ".xlsx?export=true&" + (params.except("method","action","controller").collect do |k,v| k + "=" + v; end).join("&"),
              :class => 'btn btn-primary btn-sm' %>
        <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_member_path,
                  :class => 'btn btn-primary btn-sm' %>
      </div>
    <% end %>
  <h4><%=t '.title', :default => model_class.model_name.human.pluralize %> <small>(<%= @members.count || 0 %>) found.</small></h4>
</div>

<% unless current_user.role == "Member" %>
    <div class="alert alert-warning">Click the 'FILTER' button.</div>
    <div style="margin-bottom: -15px;" >
        <div class="row hidden-xs">
            <%= form_tag "/members", method: 'get' do %>
                <div class="col-sm-4">
                    <%= text_field_tag :search_by, params[:search_by], placeholder: 'Name/Phone/Address/NRC', autocomplete: :off, class: 'form-control input-sm' %>
                </div>
                <div class="col-sm-3">
                    <input type="text" id="date_search" name="date_search" class="form-control input-sm" placeholder="Expired Before" >
                </div>
                <div class="col-sm-2">
                    <%= select_tag 'grade_search', options_for_select(["Associate Member", "Student Member", "Professional Member"]), {:class => 'form-control input-sm', include_blank: 'Choose Grade'} %>
                </div>
                <div class="col-sm-2">
                    <%= select_tag 'organization_search', options_from_collection_for_select(Organization.all, :id, :organization_name), {:class => 'form-control input-sm', include_blank: 'Choose Organization'} %>
                </div>
                <div class="col-sm-1 pull-right">
                    <%= submit_tag "Filter", :name=> nil, class: "btn btn-primary btn-sm pull-right" %>
                    <!-- <input type="reset" id="btn_reset" value="reset" class="btn btn-sm"> -->
                    <br/>
                </div>
            <% end %>
        </div>
    </div>
<% end %>

<% if @members.present? %>
        <table class="table table-striped table-hover table-condensed">
          <thead>
            <tr>
              <th><%= model_class.human_attribute_name(:name) %></th>
                <th>Highest Education</th>
                <th><%= model_class.human_attribute_name(:grade) %></th>
              <% unless current_user.role == "Member" %>
                  <th><%= model_class.human_attribute_name(:email) %></th>
                  <th><%= model_class.human_attribute_name(:phone) %></th>
                  <th><%= model_class.human_attribute_name(:valid_till) %></th>
                  <th><%= model_class.human_attribute_name(:organization) %></th>
              <% end -%>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @members.each do |member| %>
              <tr>
                <td><%= member.name %></td>
                <td><%= member.highest_education %></td>
                <td><%= member.memberships.first.grade %></td>
                <% unless current_user.role == "Member" %>
                    <td><%= member.email %></td>
                    <td><%= member.phone %></td>
                    <td><%= member.memberships.first.valid_till if member.memberships.present? %></td>
                    <% if member.memberships.any? %>
                      <% if member.memberships.first.organization.present? %>
                        <td><%= member.memberships.first.organization.organization_name %></td>
                      <% else %>
                        <td></td>
                      <% end %>
                    <% else %>
                      <td></td>
                    <% end %>
                <% end -%>
                <td>
                  <% unless current_user.role == 'Member' %>
                    <%= link_to t('.show', :default => t("helpers.links.show")), member_path(member), :class => 'btn btn-xs' %>
                    <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_member_path(member), :class => 'btn btn-primary btn-xs' %>
                    <%= link_to t('.destroy', :default => t("helpers.links.destroy")), member_path(member), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger btn-xs' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div align="center">
          <%= will_paginate @members %>
        </div>
<% else %>
        <br/>
        <br/>
        <div class="alert alert-info">No data found.</div>
<% end -%>

<script type="text/javascript">
    $(document).ready(function() {

        $( "#date_search" ).datepicker({
            // changeMonth: true,
            // changeYear: true,
            // yearRange: '2017:2050',
            dateFormat: "dd-mm-yy"
        });
        // $( "#date_search" ).datepicker( "setDate", new Date());

    });
</script>