<%- model_class = Organization -%>
<div class="">
  <% unless current_user.role == 'Member' %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_organization_path,
                :class => 'btn btn-primary btn-sm pull-right' %>
  <% end %>
  <h4><%=t '.title', :default => model_class.model_name.human.pluralize %></h4>
</div>

      <% if @organizations.present? %>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:organization_name) %></th>
      <th><%= model_class.human_attribute_name(:region) %></th>
      <th>Member Count</th>
      <th>Committee Count</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.organization_name %></td>
        <td><%= organization.state.name if organization.state.present? %></td>
        <td><%= organization.members.count %></td>
        <td><%= organization.committees.count %></td>
        <td>
        <% unless current_user.role == 'Member' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_organization_path(organization), :class => 'btn btn-primary btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      organization_path(organization),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger btn-xs' %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div align="center">
  <%= will_paginate @organizations %>
</div>
      <% else %>
<div class="alert alert-info">No data found.</div>
      <% end -%>

