      <p class="notice"><%= @notice %></p>
<%= form_for @access_control, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @access_control.errors.any? %>
    <strong><%= @access_control.errors.count %> errors detected.</strong>
    <ul>
    <% @access_control.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
  <div class="form-group ">
    <%= f.label :key, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :key, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group ">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group ">
    <%= f.label :description, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_area :description, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-actions ">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                access_controls_path, :class => 'btn' %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
