<%- model_class = AccessControl -%>
<div class="">
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_access_control_path,
            :class => 'btn btn-primary btn-sm pull-right' %>
  <h4><%=t '.title', :default => model_class.model_name.human.pluralize %> <small>(<%= @access_controls.count || 0 %>) found.</small></h4>
</div>

      <% if  @access_controls.present? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:key) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @access_controls.each do |access_control| %>
      <tr>
        <td><%= access_control.key %></td>
        <td><%= access_control.name %></td>
        <td><%= access_control.description %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      access_control_path(access_control), :class => 'btn btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_access_control_path(access_control), :class => 'btn btn-primary btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      access_control_path(access_control),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div align="center">
  <%= will_paginate @access_controls %>
</div>
      <% else %>
<div class="alert alert-info">No data found.</div>
      <% end -%>

