<%= form_for @announcement, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @announcement.errors.any? %>
    <strong><%= @announcement.errors.count %> errors detected.</strong>
    <ul>
    <% @announcement.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
    <!-- 
      <%= f.date_select :date, :class => 'form-control' %>
     -->
      <input type="text" id="date" name="announcement[date]" value= "<%= @announcement.date %>" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <%= f.label :content, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_area :content, :class => 'form-control', style: 'max-width: 100%;' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :organization_id, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.select( :organization_id, @organizations, {include_blank: 'Choose Organization'}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :member_type, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.select(:member_type, ["Student Member", "Associate Member", "Professional Member"], {include_blank: 'Choose Member Type'}, {class: "form-control"} ) %>
    </div>
  </div>
<!-- 
  <div class="form-group">
    <%= f.label :committee_id, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.select( :committee_id, Committee.all.collect{|o| [o.name, o.id]}, {include_blank: 'Choose Committee'}, {class: "form-control"}) %>
    </div>
  </div> -->

  <div class="form-actions">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                announcements_path, :class => 'btn' %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>


<script>
  $(document).ready(function() {
      $( "#date" ).datepicker({
        dateFormat: "dd-mm-yy"
      });
      $( "#date" ).datepicker( "setDate", new Date());
  });
</script>