<%- model_class = Announcement -%>
<div class="">
  <%= (link_to t('.new', :default => t("helpers.links.new")), new_announcement_path,
            :class => 'btn btn-primary btn-sm pull-right')  unless current_user.role == 'Member'  %>
  <h4><%=t '.title', :default => model_class.model_name.human.pluralize %> <small>(<%= @announcements.count || 0 %>) found.</small></h4>
</div>

<% if @announcements.present? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:title) %></th>
          <th><%= model_class.human_attribute_name(:date) %></th>
          <th><%= model_class.human_attribute_name(:committee) %></th>
          <th><%= model_class.human_attribute_name(:organization) %></th>
          <th><%= model_class.human_attribute_name(:member_type) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @announcements.each do |announcement| %>
          <tr>
            <td><%= announcement.title %></td>
            <td><%= announcement.date %></td>
            <td><%= announcement.committee.name if announcement.committee.present? %></td>
            <td><%= announcement.organization.organization_name if announcement.organization.present? %></td>
            <td><%= announcement.member_type %></td>
            <td>
              <%= link_to 'Show', announcement_path(announcement), class: "btn btn-xs" %>
            <% unless current_user.role == "Member" %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_announcement_path(announcement), :class => 'btn btn-primary btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")), announcement_path(announcement), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger btn-xs' if current_user.role == 'Admin' %>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% else %>
    <br/>
    <div class="alert alert-info">No data found.</div>
<% end -%>

