      <p class="notice"><%= @notice %></p>
<%= form_for @membership, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @membership.errors.any? %>
    <strong><%= @membership.errors.count %> errors detected.</strong>
    <ul>
    <% @membership.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
  
  <div class="form-group">
    <%= f.label :member_id, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= select_tag 'membership[member_id]', options_from_collection_for_select(@members, "id", "name", "#{@membership.member_id}"), { :class => 'form-control', :include_blank => "Choose"}%><!-- 
      <%= f.select(:member_id, Member.all.collect { |m| [m.name, m.id]}, {include_blank: 'Choose Member'}, {class: 'form-control'}) %> -->
    </div>
  </div>

  <div class="form-group">
    <%= f.label :organization_id, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.select(:organization_id, Organization.all.collect {|o| [o.organization_name, o.id]}, {include_blank: 'Choose Organization'}, {class: 'form-control'}) %><!--
      <%= f.number_field :organization_id, :class => 'form-control' %> -->
    </div>
  </div>

  <div class="form-group">
    <%= f.label :valid_till, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <input type="text" id="valid_till" name="membership[valid_till]" value= "<%= @membership.valid_till.strftime('%d-%m-%Y') if @membership.valid_till.present? %>" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <%= f.label :grade, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.select(:grade, ['Student Member', 'Associate Member', 'Professional Member', 'Fellow Member'], {include_blank: 'Choose Grade'}, {class: 'form-control'}) %>
    </div>
  </div>

  <div class="form-actions">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                memberships_path, :class => 'btn' %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>

<script>
  $(document).ready(function() {
      $( "#valid_till" ).datepicker({
        dateFormat: "dd-mm-yy"
      });
      // $( "#valid_till" ).datepicker( "setDate", new Date());
  });
</script>