<div class="">
  <input type="button" id="btn_rnr" value="Read Rules And Regulations" class="btn-primary pull-right" />
  <h4>MCPA Member Extend Application</h4>
</div>
<div class="row col-md-12" id="rule_and_regulation" hidden>
    <div class="panel panel-default">
      <div class="panel-heading">
      <h5>အသင်းဝင်လိုသူများအတွက် စည်းကမ်းချက်များ</h5>
      </div>
      <div class="panel-body">
      <p>
          <h6>Student Member ဝင်ခွင့်ရသူများ</h6>
          (ဝင်ကြေး - ၁,၅၀၀ ကျပ်၊ နှစ်စဉ်ကြေး - ၂,၀၀၀ ကျပ်)<br/>
          ၁။  ကွန်ပျူတာတက္ကသိုလ်၊ နည်းပညာတက္ကသိုလ် (ပထမနှစ်၊ ဒုတိယနှစ်) တက်ရောက်နေသည့် ကျောင်းသား/ သူများ။<br/>
          ၂။  မြန်မာနိုင်ငံကွန်ပျူတာပညာရှင်အသင်း အသိအမှတ်ပြုသည့် ကေျာင်း၊ အဖွဲ့အစည်းမှ ဖွင့် လှစ်သော IT Diploma သင်တန်း၊ International IT Diploma သင်တန်းတက်ရောက်ဆဲ ကျောင်းသား/သူများ။<br/>
          ၃။  MCPA မှ အသိအမှတ်ပြုထားသည့် သင်တန်းများတွင် IT Professional Certification Course ကိုအနည်းဆုံး နာရီ(၁၂၀) တက်ရောက်ပြီးသူများ။<br/>
      </p>
      <p>
          
          <h6>Associate Member ဝင်ခွင့်ရသူများ</h6>
          (ဝင်ကြေး - ၃,၀၀၀ ကျပ်၊ နှစ်စဉ်ကြေး - ၄,၀၀၀ ကျပ်)<br/>
          ကွန်ပျူတာပညာဖြင့် အသက်မွေး၀မ်းကြောင်းပြုနေသူဖြစ်ပြီး အောက်ပါအရည်အချင်းများအနက် တစ်ခုခုနှင့် ကိုက်ညီလျှင် အသင်းသားရေးရာကော်မတီက လက်ခံစစ်ဆေးပြီး ခွင့်ပြုခြင်း/ ငြင်းပယ်ခြင်း ပြုလုပ်နိုင်သည်။<br/>
          ၁။  International Advanced Diploma (2) Years လက်မှတ်ရရှိထားသူများ။<br/>
          ၂။  International Professional Certification from Vendors (eg. MCSA, MCSD, ……..) လက်မှတ်ရရှိသူများ။<br/>
          ၃။  မြန်မာနိုင်ငံကွန်ပျူတာပညာရှင်အသင်း အသိအမှတ်ပြုသည့် ကေျာင်း၊ အဖွဲ့အစည်းမှ ဖွင့်လှစ်သော IT Diploma အောင်မြင်ပြီးသူများ၊ MCPA မှ စစ်ဆေးသော MCPA Exam ကို အောင်မြင်ပြီးသူများ။<br/>
          ၄။  ကွန်ပျူတာတက္ကသိုလ်၊ နည်းပညာတက္ကသိုလ်၊ စက်မှုတက္ကသိုလ်တို့တွင် တတိယနှစ်နှင့် အထက် တက်ရောက်နေသည့် ကျောင်းသား/ သူများ။<br/>
          ၅။  ကွန်ပျူတာပညာရှင်အဖြစ် အနည်းဆုံး (၂) နှစ် လုပ်ကိုင်ခဲ့ကြောင်း ကုမ္ပဏီ (သို့မဟုတ်) AM အသင်းသား (သို့မဟုတ်) PM အသင်းသား (သို့မဟုတ်) မိမိ၏ ဆောင်ရွက်ပေးခဲ့/ ပေးလျက် ရှိသော အဖွဲ့အစည်း တစ်ခုခုမှ ထောက်ခံစာပါရှိရမည်။ <br/>

      </p><p>
          <h6>Professional Member ဝင်ခွင့်ရသူများ</h6>
          (ဝင်ကြေး - ၄,၀၀၀ ကျပ်၊ နှစ်စဉ်ကြေး - ၆,၀၀၀ ကျပ်)<br/>
          ကွန်ပျူတာပညာဖြင့် အသက်မွေးဝမ်းကြောင်း ပြုနေသူဖြစ်ပြီး အောက်ပါအရည်အချင်းများအနက် တစ်ခုခုနှင့် ကိုက်ညီလျှင် အသင်းသားရေးရာကော်မတီက လက်ခံစစ်ဆေးပြီး ခွင့်ပြုခြင်း/ ငြင်းပယ်ခြင်း ပြုလုပ်နိုင်သည်။<br/>
          ၁။  AM သက်တမ်း (၂) နှစ်ကြာမြင့်ပြီး ကွန်ပျူတာပညာရှင်အဖြစ် ဆက်လက်လုပ်ကိုင်နေသူများ။<br/>
          ၂။  ကွန်ပျူတာတက္ကသိုလ်၊ နည်းပညာတက္ကသိုလ်၊ စက်မှုတက္ကသိုလ်တို့မှ ဘွဲ့ရရှိပြီး လုပ်သက် (၂) နှစ် ကေျာ်ရှိသူများ။<br/>
          ၃။  ကွန်ပျူတာပညာရှင်အဖြစ် အနည်းဆုံး (၂) နှစ်လုပ်ကိုင်ခဲ့ကြောင်း ကုမ္ပဏီ (သို့မဟုတ်) PM အသင်းသား (သို့မဟုတ်) မိမိ၏ ဆောင်ရွက်ပေးခဲ့/ ပေးလျက်ရှိသော အဖွဲ့အစည်းတစ်ခုခုမှ ထောက်ခံစာပါရှိရမည်။<br/>
          ၄။  အသင်းအလုပ်အမှုဆောင် အစည်းအဝေးမှ ဆုံးဖြတ်ချက်ဖြင့် အသင်းအတွက် ကူညီပံ့ပိုးနိုင်သော အရည်အချင်းရှိသူများ။<br/>

      </p><p>
          <h6>Fellow Member ဝင်ခွင့်ရသူများ</h6>
          (အဆင့်မြှင့်ကြေး- ၁၀၀,၀၀၀ ကျပ်၊ နှစ်စဉ်ကြေး - မရှိ)<br/>
          အောက်ဖော်ပြပါ ပုဂ္ဂိုလ်များသည် အသင်းသို့ အဆိုပြုလျှောက်ထားနိုင်ပြီး အလုပ်အမှုဆောင်အဖွဲ့ အစည်းအဝေးမှ ဆုံးဖြတ်မည်။<br/>
          ၁။  PM ဖြစ်ပြီး MCPA အသင်းတွင် အလုပ်အမှုဆောင် သက်တမ်းပြည့် (၁)ကြိမ် တာဝန်ထမ်းဆောင် ပြီးသူများ။<br/>
          ၂။  တက္ကသိုလ်၊ ကောလိပ်များမှ IT ကွန်ပျူတာဌာနတစ်ခုခု၏ တွဲဖက်ပါမောက္ခရာထူးနှင့် အထက် တာဝန်ထမ်းဆောင်ခဲ့သူ/ တာဝန်ထမ်းဆောင်နေသူများ။<br/>
          ၃။  PM သက်တမ်း (၁၀) နှစ်ပြည့်ပြီးသူများ။<br/>

      </p><p>
          <h6>Honorary Member ဝင်ခွင့်ရသူများ</h6>
          (ဝင်ကြေး - မရှိ)<br/>
          ၁။  မြန်မာနိုင်ငံအတွင်းကွန်ပျူတာပညာနှင့် အသုံးချမှုဖွံ့ဖြိုးပြန့်ပွားရေးအတွက် ထူးခြားစွာ ကူညီထောက်ပံ့သူ / ပံ့ပိုးပေးသူ။ (အလုပ်အမှုဆောင် အစည်းအဝေးဆုံးဖြတ်ချက်ဖြင့် ပေးအပ်ရန်။)<br/>

      </p>
      </div>
    </div>
</div>
<%= form_for "/extend", :html => { :class => 'form-horizontal' } do |f| %>
  <% if @membership.errors.any? %>
    <strong><%= @membership.errors.count %> errors detected.</strong>
    <ul>
    <% @membership.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
  
  <div class="form-group"></div>
  <% if @membership.valid_till < DateTime.now %>
    <div class="alert alert-danger">
      Your membership is already expired.
    </div>
  <% else %>
    <div class="alert alert-warning">
      Your membership is valid till <%= @membership.valid_till %>.
    </div>
  <% end -%>

<div class="row col-xs-12">
  <label class="col-sm-3">ကြွေးကျန် : </label> <label class="col-sm-9"><%= @debt %></label>
  <!-- <label class="col-sm-3">နှစ်စဉ်ကြေး (တစ်နှစ်စာ) : </label> <label class="col-sm-9"><%= @fee %></label> -->
</div>

  <strong>စုစုပေါင်းပေးသွင်းရမည့် ငွေ ပမာဏမှာ မြန်မာကျပ်ငွေ <label id="custom-text"><%= @price %></label> ဖြစ်ပါသည်။</strong><br/>
  <strong>The total fee include debt will be : <label id="custom-text-english"><%= number_with_delimiter(@price, :delimiter=> ',') %></label> MMK.</strong>
  <div class="form-group">
    <%= f.label :member_no, :class => 'control-label col-md-2' %>
    <div class="col-md-4">   
      <input type="text" name="member_no" value="<%= @membership.member.member_no %>" class="form-control" readonly>
    </div> 
  </div>
  <div class="form-group">
    <%= f.label :member_id, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <input type="text" name="member" value="<%= @membership.member.name %>" class="form-control" readonly>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :organization_id, :class => 'control-label col-md-2' %>
    <div class="col-md-4"> 
      <%= f.text_field :organization, value: "#{@membership.organization.organization_name}", :class => 'form-control' %>
    </div>
  </div>
<!-- 
  <div class="form-group">
    <%= f.label :valid_till, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <input type="text" id="membership[valid_till]" name="membership_valid_till" value="<%= @membership.valid_till %>" class="form-control" disabled="disabled">
    </div>
  </div>
 -->
  <div class="form-group">
    <%= f.label :grade, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <input type="text" name="grade" value="<%= @membership.grade %>" class="form-control" readonly >
    </div>
  </div>

  <div class="form-group">
    <label class= 'control-label col-md-2'>Year To Extend</label>
    <div class="col-md-4">
      <%= select_tag "year_to_extend", options_for_select([1,2,3,4,5]),{class: 'form-control', include_blank: 'Choose a year'} %>
    </div>
  </div>

  <div class="form-actions">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), :back, :class => 'btn' %>
    <%= f.submit "Extend Membership", :class => 'btn btn-primary' %>
  </div>
  <br/>
<% end %>

<script>
  $(document).ready(function() {
      $( "#valid_till" ).datepicker({
        dateFormat: "dd-mm-yy"
      });
      $( "#valid_till" ).datepicker( "setDate", new Date());

    $("#btn_rnr").click(function(){
        $('#rule_and_regulation').value = 'View';
        $('#rule_and_regulation').toggle();
    });



    $("#year_to_extend").change(function(){
        value = $("#year_to_extend").val() * <%= @fee %> + <%= @price %>;
        document.getElementById("custom-text").innerHTML = numberWithCommas(value);
        document.getElementById("custom-text-english").innerHTML = numberWithCommas(value);
    });

    const numberWithCommas = (x) => {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
});
</script>