<%- model_class = Membership -%>
<div class="">
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_membership_path,
              :class => 'btn btn-primary btn-sm pull-right' %>
  <h4><%=t '.title', :default => model_class.model_name.human.pluralize %> <small>(<%= @memberships.count || 0 %>) found.</small></h4>
</div>

<% if current_user.role != "Member" %>
    <div class="alert alert-warning">Click the 'FILTER' button.</div>
    <div class="row" style="margin-bottom: -15px;" >
      <%= form_tag '/memberships', method: 'get' do %>
        <div class="col-sm-4">
            <%= text_field_tag :search_by, params[:search_by], placeholder: "Member Name", autocomplete: :off, class: 'form-control input-sm' %>
        </div>
        <div class="col-sm-3">
              <%= select_tag :search_grade, options_for_select(["Student Member", "Associate Member", "Professional Member", "Fellow Member"]), {include_blank: 'Choose Grade', class: 'form-control input-sm'} %>
        </div>
        <% if current_user.role == "Admin" %>
        <div class="col-sm-2">
            <%= select_tag 'organization_search', options_from_collection_for_select(Organization.all, :id, :organization_name), {:class => 'form-control input-sm', include_blank: 'Choose Organization'} %>
        </div>
        <% end -%>
        <div class="col-sm-1 pull-right">
            <%= submit_tag 'Filter', name: nil, class: "btn btn-primary btn-sm pull-right" %>
        </div>
      <% end %>
    </div>
<% end -%>

<% if @memberships.present? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Member No.</th>
          <th><%= model_class.human_attribute_name(:member_id) %></th>
          <th><%= model_class.human_attribute_name(:organization_id) %></th>
          <th><%= model_class.human_attribute_name(:valid_till) %></th>
          <th><%= model_class.human_attribute_name(:grade) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @memberships.each do |membership| %>
          <tr>
            <td><%= membership.member.member_no if membership.member.present? %></td>
            <td><%= membership.member.name if membership.member.present? %></td>
            <td><%= membership.organization.organization_name  if membership.organization.present?  %></td>
            <td><%= membership.valid_till %></td>
            <td><%= membership.grade %></td>
            <td>
              <%= link_to t('.show', :default => t("helpers.links.show")),
                          membership_path(membership), :class => 'btn btn-xs' %>
              
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_membership_path(membership), :class => 'btn btn-primary btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")), membership_path(membership), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger btn-xs' if current_user.role == 'Admin' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div align="center">
      <%= will_paginate @memberships %>
    </div>
<% else %>
    <br/>
    <div class="alert alert-info">No data found.</div>
<% end -%>
