<%- model_class = Membership -%>
<div class="">
  <h4><%=t '.title', :default => model_class.model_name.human %></h4>
</div>

<dl class="dl-horizontal">
  <dt><strong>Member No.:</strong></dt>
  <dd><%= @membership.member.member_no if @membership.member.present? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:member_id) %>:</strong></dt>
  <dd><%= @membership.member.name if @membership.member.present? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:organization_id) %>:</strong></dt>
  <dd><%= @membership.organization.organization_name if @membership.organization.present? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:upgraded_at) %>:</strong></dt>
  <dd><%= @membership.upgraded_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:extended_at) %>:</strong></dt>
  <dd><%= @membership.extended_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:valid_till) %>:</strong></dt>
  <dd><%= @membership.valid_till %></dd>
  <dt><strong><%= model_class.human_attribute_name(:grade) %>:</strong></dt>
  <dd><%= @membership.grade %></dd>
</dl>

<div class="col-md-12">
<% if @member.present? && @member.log.present? %>
  <% @member.log.each do |key, value| %>
    <%= value if key == "Membership extend" %>
  <% end %>
<% end %>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              memberships_path, :class => 'btn'  %>
              
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_membership_path(@membership), :class => 'btn btn-primary' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")), membership_path(@membership), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger' if current_user.role == 'Admin' %>
</div>