<div class="page-header" align="center">
  <%= image_tag 'mcpa_logo', style: "width:80px;", class:"pull-left" %> 
  <h4>MCPA Member Upgrade Application</h4>
</div>
<div class="col-md-12" id="rule_and_regulation" hidden>
    <div class="panel panel-default">
    <div class="panel-heading">
    <h5>အသင်းဝင်လိုသူများအတွက် စည်းကမ်းချက်များ</h5>
    </div>
    <div class="panel-body">
    <p>
        <h6>Student Member ဝင်ခွင့်ရသူများ</h6>
        (ဝင်ကြေး - ၁,၅၀၀ ကျပ်၊ နှစ်စဉ်ကြေး - ၂,၀၀၀ ကျပ်)<br/>
        ၁။  ကွန်ပျူတာတက္ကသိုလ်၊ နည်းပညာတက္ကသိုလ် (ပထမနှစ်၊ ဒုတိယနှစ်) တက်ရောက်နေသည့် ကျောင်းသား/ သူများ။<br/>
        ၂။  မြန်မာနိုင်ငံကွန်ပျူတာပညာရှင်အသင်း အသိအမှတ်ပြုသည့် ကေျာင်း၊ အဖွဲ့အစည်းမှ ဖွင့် လှစ်သော IT Diploma သင်တန်း၊ International IT Diploma သင်တန်းတက်ရောက်ဆဲ ကျောင်းသား/သူများ။<br/>
        ၃။  MCPA မှ အသိအမှတ်ပြုထားသည့် သင်တန်းများတွင် IT Professional Certification Course ကိုအနည်းဆုံး နာရီ(၁၂၀) တက်ရောက်ပြီးသူများ။<br/>
    </p>
    <p>
        
        <h6>Associate Member ဝင်ခွင့်ရသူများ</h6>
        (ဝင်ကြေး - ၃,၀၀၀ ကျပ်၊ နှစ်စဉ်ကြေး - ၄,၀၀၀ ကျပ်)<br/>
        ကွန်ပျူတာပညာဖြင့် အသက်မွေး၀မ်းကြောင်းပြုနေသူဖြစ်ပြီး အောက်ပါအရည်အချင်းများအနက် တစ်ခုခုနှင့် ကိုက်ညီလျှင် အသင်းသားရေးရာကော်မတီက လက်ခံစစ်ဆေးပြီး ခွင့်ပြုခြင်း/ ငြင်းပယ်ခြင်း ပြုလုပ်နိုင်သည်။<br/>
        ၁။  International Advanced Diploma (2) Years လက်မှတ်ရရှိထားသူများ။<br/>
        ၂။  International Professional Certification from Vendors (eg. MCSA, MCSD, ……..) လက်မှတ်ရရှိသူများ။<br/>
        ၃။  မြန်မာနိုင်ငံကွန်ပျူတာပညာရှင်အသင်း အသိအမှတ်ပြုသည့် ကေျာင်း၊ အဖွဲ့အစည်းမှ ဖွင့်လှစ်သော IT Diploma အောင်မြင်ပြီးသူများ၊ MCPA မှ စစ်ဆေးသော MCPA Exam ကို အောင်မြင်ပြီးသူများ။<br/>
        ၄။  ကွန်ပျူတာတက္ကသိုလ်၊ နည်းပညာတက္ကသိုလ်၊ စက်မှုတက္ကသိုလ်တို့တွင် တတိယနှစ်နှင့် အထက် တက်ရောက်နေသည့် ကျောင်းသား/ သူများ။<br/>
        ၅။  ကွန်ပျူတာပညာရှင်အဖြစ် အနည်းဆုံး (၂) နှစ် လုပ်ကိုင်ခဲ့ကြောင်း ကုမ္ပဏီ (သို့မဟုတ်) AM အသင်းသား (သို့မဟုတ်) PM အသင်းသား (သို့မဟုတ်) မိမိ၏ ဆောင်ရွက်ပေးခဲ့/ ပေးလျက် ရှိသော အဖွဲ့အစည်း တစ်ခုခုမှ ထောက်ခံစာပါရှိရမည်။ <br/>

    </p><p>
        <h6>Professional Member ဝင်ခွင့်ရသူများ</h6>
        (ဝင်ကြေး - ၄,၀၀၀ ကျပ်၊ နှစ်စဉ်ကြေး - ၆,၀၀၀ ကျပ်)<br/>
        ကွန်ပျူတာပညာဖြင့် အသက်မွေးဝမ်းကြောင်း ပြုနေသူဖြစ်ပြီး အောက်ပါအရည်အချင်းများအနက် တစ်ခုခုနှင့် ကိုက်ညီလျှင် အသင်းသားရေးရာကော်မတီက လက်ခံစစ်ဆေးပြီး ခွင့်ပြုခြင်း/ ငြင်းပယ်ခြင်း ပြုလုပ်နိုင်သည်။<br/>
        ၁။  AM သက်တမ်း (၂) နှစ်ကြာမြင့်ပြီး ကွန်ပျူတာပညာရှင်အဖြစ် ဆက်လက်လုပ်ကိုင်နေသူများ။<br/>
        ၂။  ကွန်ပျူတာတက္ကသိုလ်၊ နည်းပညာတက္ကသိုလ်၊ စက်မှုတက္ကသိုလ်တို့မှ ဘွဲ့ရရှိပြီး လုပ်သက် (၂) နှစ် ကေျာ်ရှိသူများ။<br/>
        ၃။  ကွန်ပျူတာပညာရှင်အဖြစ် အနည်းဆုံး (၂) နှစ်လုပ်ကိုင်ခဲ့ကြောင်း ကုမ္ပဏီ (သို့မဟုတ်) PM အသင်းသား (သို့မဟုတ်) မိမိ၏ ဆောင်ရွက်ပေးခဲ့/ ပေးလျက်ရှိသော အဖွဲ့အစည်းတစ်ခုခုမှ ထောက်ခံစာပါရှိရမည်။<br/>
        ၄။  အသင်းအလုပ်အမှုဆောင် အစည်းအဝေးမှ ဆုံးဖြတ်ချက်ဖြင့် အသင်းအတွက် ကူညီပံ့ပိုးနိုင်သော အရည်အချင်းရှိသူများ။<br/>

    </p><p>
        <h6>Fellow Member ဝင်ခွင့်ရသူများ</h6>
        (အဆင့်မြှင့်ကြေး- ၁၀၀,၀၀၀ ကျပ်၊ နှစ်စဉ်ကြေး - မရှိ)<br/>
        အောက်ဖော်ပြပါ ပုဂ္ဂိုလ်များသည် အသင်းသို့ အဆိုပြုလျှောက်ထားနိုင်ပြီး အလုပ်အမှုဆောင်အဖွဲ့ အစည်းအဝေးမှ ဆုံးဖြတ်မည်။<br/>
        ၁။  PM ဖြစ်ပြီး MCPA အသင်းတွင် အလုပ်အမှုဆောင် သက်တမ်းပြည့် (၁)ကြိမ် တာဝန်ထမ်းဆောင် ပြီးသူများ။<br/>
        ၂။  တက္ကသိုလ်၊ ကောလိပ်များမှ IT ကွန်ပျူတာဌာနတစ်ခုခု၏ တွဲဖက်ပါမောက္ခရာထူးနှင့် အထက် တာဝန်ထမ်းဆောင်ခဲ့သူ/ တာဝန်ထမ်းဆောင်နေသူများ။<br/>
        ၃။  PM သက်တမ်း (၁၀) နှစ်ပြည့်ပြီးသူများ။<br/>

    </p><p>
        <h6>Honorary Member ဝင်ခွင့်ရသူများ</h6>
        (ဝင်ကြေး - မရှိ)<br/>
        ၁။  မြန်မာနိုင်ငံအတွင်းကွန်ပျူတာပညာနှင့် အသုံးချမှုဖွံ့ဖြိုးပြန့်ပွားရေးအတွက် ထူးခြားစွာ ကူညီထောက်ပံ့သူ / ပံ့ပိုးပေးသူ။ (အလုပ်အမှုဆောင် အစည်းအဝေးဆုံးဖြတ်ချက်ဖြင့် ပေးအပ်ရန်။)<br/>

    </p>
    </div>
    </div>
</div>
<input type="button" id="btn_rnr" value="Read Rules And Regulations" class="row btn-primary pull-right" />

<label class="text-primary">မည်သည့် အသင်းသား အဆင့်သို့ မြှင့်သည်ဖြစ်စေ မြန်မာကျပ်ငွေ ၁,၀၀၀ ကျသင့်ပါမည်။</strong></label>

<div class="row col-xs-12">  
    <label class="col-sm-3">ကြွေးကျန် : </label> <label class="col-sm-9"><%= number_with_delimiter(@debt, delimiter: ",") %></label>
    <label class="col-sm-3">နှစ်စဉ်ကြေး (တစ်နှစ်စာ) : </label> <label class="col-sm-9"><%= number_with_delimiter(@fee, delimiter: ",") %></label>
    <label class="col-sm-3">သက်တမ်းတိုးကြေး : </label> <label class="col-sm-9">1,000</label>
</div>

<br/><strong>စုစုပေါင်းပေးသွင်းရမည့် ငွေ ပမာဏမှာ မြန်မာကျပ်ငွေ <i><%= number_with_delimiter(@price, delimiter: ",") %> </i>   ဖြစ်ပါသည်။</strong><br/>
<strong>Upgrading membership <%= @upgraded_from_to %> will cost <i><%= number_with_delimiter(@price, delimiter: ",") %></i>  MMK. <br/>

<div class="row col-xs-12">
    <%= form_for "/upgrade", :html => { :class => 'form-horizontal' } do |f| %>
        <!-- 
            <% if @member.errors.any? %>
                <strong><%= @member.errors.count %> errors detected.</strong>
                <ul>
                    <% @member.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            <% end %>

            <p>Please complete all fields below in English, and submit to the MCPA Office or join online at www.mcpamyanmar.org</p>
        -->
        <!-- 
            <div class="col-md-12">
                <div class="pull-right">
                    <%= f.label :profile_picture, class: 'control-label' %>
                    <%= f.file_field :profile, class: 'form-control' %>
                </div>
                <h5>1. PERSONAL INFORMATION</h5>

                <table class="table col-md-12">
                    <tr>
                        <td colspan="2">
                            <% if @member.gender == 'female' %>
                                <%= radio_button_tag(:gender, "female", check: true) %>
                            <% else %>
                                <%= radio_button_tag(:gender, "female") %>
                            <% end %>
                            <%= label_tag(:gender_female, "FEMALE") %>
                        </td>
                        <td colspan="2">
                            <% if @member.gender == 'male' %>
                                <%= radio_button_tag(:gender, "male", check: true) %>
                            <% else %>
                                <%= radio_button_tag(:gender, "male") %>
                            <% end %>
                            <%= label_tag(:gender_male, "MALE") %>
                        </td>
                        <td colspan="1">
                            <label>DATE OF BIRTH ( dd/mm/yy )</label>
                        </td>
                        <td colspan="3">
                            <input type="text" id="dob" name="member[dob]" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr >
                        <td colspan="1">
                            <%= f.label :name, :class => 'control-label' %>
                        </td>
                        <td colspan="7">
                            <%= f.text_field :name, :class => 'form-control' %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= f.label :nrc, :class => 'control-label' %>
                        </td>
                        <td> <%= f.select :nrc_initial, MembershipApplication::NRC_INITIAL_OPTIONS, {include_blank: "Select"}, { :class => 'form-control'} %></td>
                        <td colspan="2"> <%= f.text_field :nrc_tsp, placeholder: "AhLaNa", :class => 'form-control', :maxlength => "9" %></td>
                        <td colspan="2"> <%= f.select :nrc_middle, MembershipApplication::NRC_MIDDLE_OPTIONS, {include_blank: "Select"}, { :class => 'form-control'} %></td>
                        <td colspan="2"> <%= f.number_field :nrc_no, placeholder: "012345", :maxlength => "6", :class => 'form-control ' %></td>
                    </tr>
                    <tr>
                        <td colspan="1">
                            <%= f.label :father_name, :class => 'control-label' %>
                        </td>
                        <td colspan="3">
                            <%= f.text_field :father_name, :class => 'form-control' %>
                        </td>

                        <td colspan="1">
                            <%= f.label :address, :class => 'control-label' %>
                        </td>
                        <td colspan="3">
                            <%= f.text_area :address, :class => 'form-control' %>
                        </td>
                    </tr>
                    <tr >
                        <td colspan="1">
                            <%= f.label :state, :class => 'control-label ' %>
                        </td>
                        <td colspan="3">
                            <%= f.select("state", State.all.collect { |t| [t.name, t.name]}, {include_blank: 'Choose State'}, {class: 'form-control input-sm'}) %>
                        </td>
                        <td colspan="1">
                            <%= f.label :township, :class => 'control-label ' %>
                        </td>
                        <td colspan="3">
                            <%= f.select("township", Township.all.collect { |t| [t.name, t.name]}, {include_blank: 'Choose Township'}, {class: 'form-control input-sm'}) %>
                        </td>
                    </tr>
                    <tr >
                        <td colspan="1">
                            <%= f.label :phone, :class => 'control-label' %>
                        </td>
                        <td colspan="3">
                            <%= f.text_field :phone, :class => 'form-control' %>
                        </td>

                        <td colspan="1">
                            <%= f.label :email, :class => 'control-label ' %>
                        </td>
                        <td colspan="3">
                            <%= f.text_field :email, :class => 'form-control' %>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-md-12">
                <h5>2. EDUCATION INFORMATION</h5>
                <div class="form-group col-md-12">
                    <div class="col-md-4">
                        <% if @member.highest_education == 'post_graduate' %>
                            <%= radio_button_tag(:highest_education, "post_graduate", selected: true ) %>
                        <% else %>
                            <%= radio_button_tag(:highest_education, "post_graduate") %>
                        <% end %>
                        <%= label_tag(:education_post, "POST GRADUATE") %>
                    </div>
                    <div class="col-md-4">
                        <% if @member.highest_education == 'graduate' %>
                            <%= radio_button_tag(:highest_education, "graduate", selected: true ) %>
                        <% else %>
                            <%= radio_button_tag(:highest_education, "graduate") %>
                        <% end %>
                        <%= label_tag(:education_graduate, "GRADUATE") %>
                    </div>
                    <div class="col-md-4">
                        <% if @member.highest_education == 'under_graduate' %>
                            <%= radio_button_tag(:highest_education, "under_graduate", selected: true ) %>
                        <% else %>
                            <%= radio_button_tag(:highest_education, "under_graduate" ) %>
                        <% end %>
                        <%= label_tag(:education_under, "UNDER GRADUATE") %>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <h6>DEGREE(S) / DIPLOMA (S) RECEIVED ( MOST RECENT FIRST )</h6>
                    <label>( COPIES OF CERTIFICATES MUST BE ATTACHED )</label>
                    <table class="table table-condensed">
                        <tr>
                            <th></th>
                            <th>DEGREE/DIPLOMA</th>
                            <th>DATE</th>
                            <th>INSTITUTION</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <% if @member.certificates.present? && @member.certificates["certificate1"].present? %>
                                <td><input type="text" id="education1" name="education1" class="form-control" value="<%= @member.certificates["certificate1"]["education"] %>" ></td>
                                <td><input type="text" id="date1" name="date1" class="form-control" value="<%= @member.certificates["certificate1"]["date"] %>" ></td>
                                <td><input type="text" id="institution1" name="institution1" class="form-control" value="<%= @member.certificates["certificate1"]["institution"] %>" ></td>
                            <% else %>
                                <td><input type="text" id="education1" name="education1" class="form-control" placeholder= "B.Sc"></td>
                                <td><input type="text" id="date1" name="date1" class="form-control"></td>
                                <td><input type="text" id="institution1" name="institution1" class="form-control" placeholder= "Yangon University"></td>
                            <% end %>
                        </tr>
                        <tr>
                            <td>2</td>
                            <% if @member.certificates.present? && @member.certificates["certificate2"].present? %>
                                <td><input type="text" id="education1" name="education1" class="form-control" value="<%= @member.certificates["certificate2"]["education"] %>" ></td>
                                <td><input type="text" id="date1" name="date1" class="form-control" value="<%= @member.certificates["certificate2"]["date"] %>" ></td>
                                <td><input type="text" id="institution1" name="institution1" class="form-control" value="<%= @member.certificates["certificate2"]["institution"] %>" ></td>
                            <% else %>
                                <td><input type="text" id="education2" name="education2" class="form-control" placeholder= "B.Sc"></td>
                                <td><input type="text" id="date2" name="date2" class="form-control"></td>
                                <td><input type="text" id="institution2" name="institution2" class="form-control" placeholder= "Yangon University"></td>
                            <% end %>
                        </tr>
                        <tr>
                            <td>3</td>
                            <% if @member.certificates.present? && @member.certificates["certificate3"].present? %>
                                <td><input type="text" id="education1" name="education1" class="form-control" value="<%= @member.certificates["certificate3"]["education"] %>" ></td>
                                <td><input type="text" id="date1" name="date1" class="form-control" value="<%= @member.certificates["certificate3"]["date"] %>" ></td>
                                <td><input type="text" id="institution1" name="institution1" class="form-control" value="<%= @member.certificates["certificate3"]["institution"] %>" ></td>
                            <% else %>
                                <td><input type="text" id="education3" name="education3" class="form-control" placeholder= "B.Sc"></td>
                                <td><input type="text" id="date3" name="date3" class="form-control"></td>
                                <td><input type="text" id="institution3" name="institution3" class="form-control" placeholder= "Yangon University"></td>
                            <% end %>
                        </tr>
                        <tr>
                            <td>4</td>
                            <% if @member.certificates.present? && @member.certificates["certificate4"].present? %>
                                <td><input type="text" id="education1" name="education1" class="form-control" value="<%= @member.certificates["certificate4"]["education"] %>" ></td>
                                <td><input type="text" id="date1" name="date1" class="form-control" value="<%= @member.certificates["certificate4"]["date"] %>" ></td>
                                <td><input type="text" id="institution1" name="institution1" class="form-control" value="<%= @member.certificates["certificate4"]["institution"] %>" ></td>
                            <% else %>
                                <td><input type="text" id="education4" name="education4" class="form-control" placeholder= "B.Sc"></td>
                                <td><input type="text" id="date4" name="date4" class="form-control"></td>
                                <td><input type="text" id="institution4" name="institution4" class="form-control" placeholder= "Yangon University"></td>
                            <% end %>
                        </tr>
                        <tr>
                            <td>5</td>
                            <% if @member.certificates.present? && @member.certificates["certificate5"].present? %>
                                <td><input type="text" id="education1" name="education1" class="form-control" value="<%= @member.certificates["certificate5"]["education"] %>" ></td>
                                <td><input type="text" id="date1" name="date1" class="form-control" value="<%= @member.certificates["certificate5"]["date"] %>" ></td>
                                <td><input type="text" id="institution1" name="institution1" class="form-control" value="<%= @member.certificates["certificate5"]["institution"] %>" ></td>
                            <% else %>
                                <td><input type="text" id="education5" name="education5" class="form-control" placeholder= "B.Sc"></td>
                                <td><input type="text" id="date5" name="date5" class="form-control"></td>
                                <td><input type="text" id="institution5" name="institution5" class="form-control" placeholder= "Yangon University"></td>
                            <% end %>
                        </tr>
                    </table>
                </div>
                <div class="form-group col-md-12">
                    <h6>AREAS OF TRAINING RECEIVED</h6>

                    <div class="col-md-4">
                        <% if @member.areas_of_training.present? && @member.areas_of_training[0].present? %>
                            <%= check_box_tag(:training_programming, "PROGRAMMING", check: true ) %>
                        <% else %>
                            <%= check_box_tag(:training_programming, "PROGRAMMING" ) %>
                        <%end %>
                        <%= label_tag(:training_programming, "PROGRAMMING") %>
                    </div>
                    <div class="col-md-4">
                        <% if @member.areas_of_training.present? && @member.areas_of_training[1].present? %>
                            <%= check_box_tag(:training_software_engineering, "SOFTWARE ENGINEERING", check: true ) %>
                        <% else %>
                            <%= check_box_tag(:training_software_engineering, "SOFTWARE ENGINEERING" ) %>
                        <%end %>
                        <%= label_tag(:training_software_engineering, "SOFTWARE ENGINEERING") %>
                    </div>
                    <div class="col-md-4">
                        <% if @member.areas_of_training.present? && @member.areas_of_training[2].present? %>
                            <%= check_box_tag(:training_database, "DATABASE", check: true ) %>
                        <% else %>
                            <%= check_box_tag(:training_database, "DATABASE" ) %>
                        <%end %>
                        <%= label_tag(:training_database, "DATABASE") %>
                    </div>
                    <div class="col-md-4">
                        <% if @member.areas_of_training.present? && @member.areas_of_training[3].present? %>
                            <%= check_box_tag(:training_networking, "NETWORKING", check: true ) %>
                        <% else %>
                            <%= check_box_tag(:training_networking, "NETWORKING" ) %>
                        <%end %>
                        <%= label_tag(:training_networking, "NETWORKING") %>
                    </div>
                    <div class="col-md-4">
                        <% if @member.areas_of_training.present? && @member.areas_of_training[4].present? %>
                            <%= check_box_tag(:training_web_development, "WEB DEVELOPMENT", check: true ) %>
                        <% else %>
                            <%= check_box_tag(:training_web_development, "WEB DEVELOPMENT" ) %>
                        <%end %>
                        <%= label_tag(:training_web_development, "WEB DEVELOPMENT") %>
                    </div>
                    <div class="col-md-4">
                        <% if @member.areas_of_training.present? && @member.areas_of_training[5].present? %>
                            <%= check_box_tag(:training_operation_system, "OPERATION SYSTEMS", check: true ) %>
                        <% else %>
                            <%= check_box_tag(:training_operation_system, "OPERATION SYSTEMS" ) %>
                        <%end %>
                        <%= label_tag(:training_operation_system, "OPERATION SYSTEMS") %>
                    </div>
                    <div class="col-md-4">
                        <% if @member.areas_of_training.present? && @member.areas_of_training[6].present? %>
                            <%= check_box_tag(:training_graphic_design, "GRAPHIC DESIGN", check: true ) %>
                        <% else %>
                            <%= check_box_tag(:training_graphic_design, "GRAPHIC DESIGN" ) %>
                        <%end %>
                        <%= label_tag(:training_graphic_design, "GRAPHIC DESIGN") %>
                    </div>
                    <div class="col-md-4">
                        <% if @member.areas_of_training.present? && @member.areas_of_training[7].present? %>
                            <%= check_box_tag(:training_multimedia, "MULTIMEDIA", check: true ) %>
                        <% else %>
                            <%= check_box_tag(:training_multimedia, "MULTIMEDIA" ) %>
                        <%end %>
                        <%= label_tag(:training_multimedia, "MULTIMEDIA") %>
                    </div>
                    <div class="col-md-4">
                        <% if @member.areas_of_training.present? && @member.areas_of_training[8].present? %>
                            <%= check_box_tag(:training_hardware, "HARDWARE", check: true ) %>
                        <% else %>
                            <%= check_box_tag(:training_hardware, "HARDWARE" ) %>
                        <%end %>
                        <%= label_tag(:training_hardware, "HARDWARE") %>
                    </div>
                    <div class="col-md-4">
                        <% if @member.areas_of_training.present? && @member.areas_of_training[9].present? %>
                            <%= check_box_tag(:training_mis, "MIS", check: true ) %>
                        <% else %>
                            <%= check_box_tag(:training_mis, "MIS" ) %>
                        <%end %>
                        <%= label_tag(:training_mis, "MIS") %>
                    </div>
                </div>     
                <div class="form-group col-md-12">
                    <h6>EFFICIENCIES ( PROFESSIONAL - LEVEL )</h6>

                    <div class="col-md-3">
                        <% if @member.efficiencies.present? && @member.efficiencies[0].present? %>
                            <%= check_box_tag(:efficiencies_pascal, "PASCAL", checked: true ) %>
                        <% else %>
                            <%= check_box_tag(:efficiencies_pascal, "PASCAL" ) %>
                        <% end %>
                        <%= label_tag(:efficiencies_pascal, "PASCAL") %>
                    </div>
                    <div class="col-md-3">
                        <% if @member.efficiencies.present? && @member.efficiencies[1].present? %>
                            <%= check_box_tag(:efficiencies_cobol, "COBOL", checked: true ) %>
                        <% else %>
                            <%= check_box_tag(:efficiencies_cobol, "COBOL" ) %>
                        <% end %>
                        <%= label_tag(:efficiencies_cobol, "COBOL") %>
                    </div>
                    <div class="col-md-3">
                        <% if @member.efficiencies.present? && @member.efficiencies[2].present? %>
                            <%= check_box_tag(:efficiencies_assembly, "ASSEMBLY", checked: true ) %>
                        <% else %>
                            <%= check_box_tag(:efficiencies_assembly, "ASSEMBLY" ) %>
                        <% end %>
                        <%= label_tag(:efficiencies_assembly, "ASSEMBLY") %>
                    </div>
                    <div class="col-md-3">
                        <% if @member.efficiencies.present? && @member.efficiencies[3].present? %>
                            <%= check_box_tag(:e, "C/C++", 1, checked: true  ) %>
                        <% else %>
                            <%= check_box_tag(:efficiencies_c_c_plus_plus, "C/C++" ) %>
                        <% end %>
                        <%= label_tag(:efficiencies_c_c_plus_plus, "C/C++") %>
                    </div>
                    <div class="col-md-3">
                        <% if @member.efficiencies.present? && @member.efficiencies[4].present? %>
                            <%= check_box_tag(:efficiencies_basic, "BASIC", checked: true  ) %>
                        <% else %>
                            <%= check_box_tag(:efficiencies_basic, "BASIC" ) %>
                        <% end %>
                        <%= label_tag(:efficiencies_basic, "BASIC") %>
                    </div>
                    <div class="col-md-3">
                        <% if @member.efficiencies.present? && @member.efficiencies[5].present? %>
                            <%= check_box_tag(:efficiencies_visual_basic, "VISUAL BASIC", checked: true  ) %>
                        <% else %>
                            <%= check_box_tag(:efficiencies_visual_basic, "VISUAL BASIC" ) %>
                        <% end %>
                        <%= label_tag(:efficiencies_visual_basic, "VISUAL BASIC") %>
                    </div>
                    <div class="col-md-3">
                        <% if @member.efficiencies.present? && @member.efficiencies[6].present? %>
                            <%= check_box_tag(:efficiencies_visual_c, "VISUAL C", checked: true  ) %>
                        <% else %>
                            <%= check_box_tag(:efficiencies_visual_c, "VISUAL C" ) %>
                        <% end %>
                        <%= label_tag(:efficiencies_visual_c, "VISUAL C") %>
                    </div>
                    <div class="col-md-3">
                        <% if @member.efficiencies.present? && @member.efficiencies[7].present? %>
                            <%= check_box_tag(:efficiencies_java, "JAVA", checked: true  ) %>
                        <% else %>
                            <%= check_box_tag(:efficiencies_java, "JAVA" ) %>
                        <% end %>
                        <%= label_tag(:efficiencies_java, "JAVA") %>
                    </div>
                    <div class="col-md-3">
                        <% if @member.efficiencies.present? && @member.efficiencies[8].present? %>
                            <%= check_box_tag(:efficiencies_net, "NET", checked: true  ) %>
                        <% else %>
                            <%= check_box_tag(:efficiencies_net, "NET" ) %>
                        <% end %>
                        <%= label_tag(:efficiencies_net, "NET") %>
                    </div>
                    <div class="col-md-3">
                        <% if @member.efficiencies.present? && @member.efficiencies[9].present? %>
                            <%= check_box_tag(:efficiencies_asp, "ASP", checked: true ) %>
                        <% else %>
                            <%= check_box_tag(:efficiencies_asp, "ASP" ) %>
                        <% end %>
                        <%= label_tag(:efficiencies_asp, "ASP") %>
                    </div>
                    <div class="col-md-3">
                        <% if @member.efficiencies.present? && @member.efficiencies[10].present? %>
                            <%= check_box_tag(:efficiencies_perl, "PERL", checked: true ) %>
                        <% else %>
                            <%= check_box_tag(:efficiencies_perl, "PERL" ) %>
                        <% end %>
                        <%= label_tag(:efficiencies_perl, "PERL") %>
                    </div>
                    <div class="col-md-3">
                        <% if @member.efficiencies.present? && @member.efficiencies[11].present? %>
                            <%= check_box_tag(:efficiencies_php, "PHP", checked: true ) %>
                        <% else %>
                            <%= check_box_tag(:efficiencies_php, "PHP" ) %>
                        <% end %>
                        <%= label_tag(:efficiencies_php, "PHP") %>
                    </div>
                    <div class="col-md-3">
                        <% if @member.efficiencies.present? && @member.efficiencies[12].present? %>
                            <%= check_box_tag(:efficiencies_jsp, "JSP", checked: true ) %>
                        <% else %>
                            <%= check_box_tag(:efficiencies_jsp, "JSP" ) %>
                        <% end %>
                        <%= label_tag(:efficiencies_jsp, "JSP") %>
                    </div>

                    <div class="col-md-3">
                        <% if @member.efficiencies.present? && @member.efficiencies[13].present? %>
                            <%= check_box_tag(:efficiencies_cold_fusion, "COLD FUSION", checked: true ) %>
                        <% else %>
                            <%= check_box_tag(:efficiencies_cold_fusion, "COLD FUSION"  ) %>
                        <% end %>
                        <%= label_tag(:efficiencies_cold_fusion, "COLD FUSION") %>
                    </div>
                    <div class="col-md-3">
                        <% if @member.efficiencies.present? && @member.efficiencies[14].present? %>
                            <%= check_box_tag(:efficiencies_html, "HTML", checked: true ) %>
                        <% else %>
                            <%= check_box_tag(:efficiencies_html, "HTML" ) %>
                        <% end %>
                        <%= label_tag(:efficiencies_html, "HTML") %>
                    </div>

                    <div class="col-md-3">
                        <% if @member.efficiencies.present? && @member.efficiencies[15].present? %>
                            <%= check_box_tag(:efficiencies_linux, "LINUX", checked: true ) %>
                        <% else %>
                            <%= check_box_tag(:efficiencies_linux, "LINUX" ) %>
                        <% end %>
                        <%= label_tag(:efficiencies_linux, "LINUX") %>
                    </div>
                    <div class="col-md-3">
                        <% if @member.efficiencies.present? && @member.efficiencies[16].present? %>
                            <%= check_box_tag(:efficiencies_windows, "WINDOWS", checked: true ) %>
                        <% else %>
                            <%= check_box_tag(:efficiencies_windows, "WINDOWS" ) %>
                        <% end %>
                        <%= label_tag(:efficiencies_windows, "WINDOWS") %>
                    </div>
                    <div class="col-md-3">
                        <% if @member.efficiencies.present? && @member.efficiencies[17].present? %>
                            <%= check_box_tag(:efficiencies_apple, "APPLE", checked: true ) %>
                        <% else %>
                            <%= check_box_tag(:efficiencies_apple, "APPLE" ) %>
                        <% end %>
                        <%= label_tag(:efficiencies_apple, "APPLE") %>
                    </div>
                    <div class="col-md-3">
                        <% if @member.efficiencies.present? && @member.efficiencies[18].present? %>
                            <%= check_box_tag(:efficiencies_unix, "UNIX", checked: true ) %>
                        <% else %>
                            <%= check_box_tag(:efficiencies_unix, "UNIX" ) %>
                        <% end %>
                        <%= label_tag(:efficiencies_unix, "UNIX") %>
                    </div>

                    <div class="col-md-3">
                        <% if @member.efficiencies.present? && @member.efficiencies[19].present? %>
                            <%= check_box_tag(:efficiencies_database, "DATABASE", checked: true ) %>
                        <% else %>
                            <%= check_box_tag(:efficiencies_database, "DATABASE" ) %>
                        <% end %>
                        <%= label_tag(:efficiencies_database, "DATABASE") %>
                    </div>
                    <div class="col-md-3">
                        <% if @member.efficiencies.present? && @member.efficiencies[20].present? %>
                            <%= check_box_tag(:efficiencies_sql, "SQL", checked: true ) %>
                        <% else %>
                            <%= check_box_tag(:efficiencies_sql, "SQL" ) %>
                        <% end %>
                        <%= label_tag(:efficiencies_sql, "SQL") %>
                    </div>
                    <div class="col-md-3">
                        <% if @member.efficiencies.present? && @member.efficiencies[21].present? %>
                            <%= check_box_tag(:efficiencies_acces, "ACCESS", checked: true ) %>
                        <% else %>
                            <%= check_box_tag(:efficiencies_access, "ACCESS") %>
                        <% end %>
                        <%= label_tag(:efficiencies_access, "ACCESS") %>
                    </div>

                    <div class="col-md-3">
                        <% if @member.efficiencies.present? && @member.efficiencies[22].present? %>
                            <%= check_box_tag(:efficiencies_flash, "FLASH", checked: true ) %>
                        <% else %>
                            <%= check_box_tag(:efficiencies_flash, "FLASH" ) %>
                        <% end %>
                        <%= label_tag(:efficiencies_flash, "FLASH") %>
                    </div>
                    <div class="col-md-3">
                        <% if @member.efficiencies.present? && @member.efficiencies[23].present? %>
                            <%= check_box_tag(:efficiencies_multimedia, "MULTIMEDIA", checked: true ) %>
                        <% else %>
                            <%= check_box_tag(:efficiencies_multimedia, "MULTIMEDIA" ) %>
                        <% end %>
                        <%= label_tag(:efficiencies_multimedia, "MULTIMEDIA") %>
                    </div>
                    <div class="col-md-3">
                        <% if @member.efficiencies.present? && @member.efficiencies[24].present? %>
                            <%= check_box_tag(:efficiencies_web_design, "WEB DESIGN", checked: true ) %>
                        <% else %>
                            <%= check_box_tag(:efficiencies_web_design, "WEB DESIGN") %>
                        <% end %>
                        <%= label_tag(:efficiencies_web_design, "WEB DESIGN") %>
                    </div>
                    <div class="col-md-3">
                        <% if @member.efficiencies.present? && @member.efficiencies[25].present? %>
                            <%= check_box_tag(:efficiencies_video_audio, "VIDEO/ AUDIO", checked: true ) %>
                        <% else %>
                            <%= check_box_tag(:efficiencies_video_audio, "VIDEO/ AUDIO") %>
                        <% end %>
                        <%= label_tag(:efficiencies_video_audio, "VIDEO/ AUDIO") %>
                    </div>

                    <div class="col-md-3">
                        <% if @member.efficiencies.present? && @member.efficiencies[26].present? %>
                            <%= check_box_tag(:efficiencies_hardware, "HARDWARE", checked: true ) %>
                        <% else %>
                            <%= check_box_tag(:efficiencies_hardware, "HARDWARE") %>
                        <% end %>
                        <%= label_tag(:efficiencies_hardware, "HARDWARE") %>
                    </div>
                    <div class="col-md-3">
                        <% if @member.efficiencies.present? && @member.efficiencies[27].present? %>
                            <%= check_box_tag(:efficiencies_networking, "NETWORKING", checked: true ) %>
                        <% else %>
                            <%= check_box_tag(:efficiencies_networking, "NETWORKING") %>
                        <% end %>
                        <%= label_tag(:efficiencies_networking, "NETWORKING") %>
                    </div>
                </div> 
            </div>

            <div class="col-md-12">
                <h5>3. EMPLOYMENT INFORMATION</h5>
                
                <div class="form-group col-md-12">
                    <h6>CURRENT EMPLOYMENT</h6>
                    <label>( CERTIFICATION OF EMPLOYMENT MUST BE ATTACHED )</label>
                    <table class="table table-condensed ">
                        <tr>
                            <td><input type="text" id="position" name="position" class="form-control input-sm" value="<%= @member.current_employment.present? ? @member.current_employment["position"] : '' %>">POSITION</td>
                            <td><input type="text" id="department" name="department" class="form-control input-sm" value="<%= @member.current_employment.present? ? @member.current_employment["department"] : '' %>">DEPARTMENT</td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="text" id="company_organization_government" name="company_organization_government" class="form-control input-sm" value="<%= @member.current_employment.present? ? @member.current_employment["company_organization_government"] : '' %>">NAME OF COMPANY/ ORGANIZATION/ GOVERNMENT DEPARTMENT</td>
                        </tr>
                        <tr>
                            <td><input type="text" id="line_of_business" name="line_of_business" class="form-control input-sm" value="<%= @member.current_employment.present? ? @member.current_employment["line_of_business"] : '' %>">LINE OF BUSINESS</td>
                            <td><input type="number" id="number_of_employees" name="number_of_employees" class="form-control input-sm" value="<%= @member.current_employment.present? ? @member.current_employment["number_of_employees"] : '' %>">NUMBER OF EMPLOYEES</td>
                        </tr>
                    </table>
                </div>
                <div class="form-group col-md-12">
                    <h6>EMPLOYMENT HISTORY ( MOST RECENT FIRST )</h6>

                    <table class="table table-striped table-condensed">
                        <tr>
                            <th></th>
                            <th>PERIOD (MONTH/ YEAR)</th>
                            <th>EMPLOYER</th>
                            <th>POSITION</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <% if @member.employment_history.present? && @member.employment_history['employment1'].present? %>
                                <td><input type="text" id="period1" name="period1" class="form-control" value="<%= @member.employment_history["employment1"]["period"] %>"></td>
                                <td><input type="text" id="employer1" name="employer1" class="form-control" value="<%= @member.employment_history["employment1"]["employer"] %>"></td>
                                <td><input type="text" id="position1" name="position1" class="form-control" value="<%= @member.employment_history["employment1"]["position"] %>"></td>
                            <% else %>
                                <td><input type="text" id="period1" name="period1" class="form-control" ></td>
                                <td><input type="text" id="employer1" name="employer1" class="form-control" ></td>
                                <td><input type="text" id="position1" name="position1" class="form-control" ></td>
                            <% end %>
                        </tr>
                        <tr>
                            <td>2</td>
                            <% if @member.employment_history.present? && @member.employment_history['employment2'].present? %>
                                <td><input type="text" id="period2" name="period2" class="form-control" value="<%= @member.employment_history["employment2"]["period"] %>"></td>
                                <td><input type="text" id="employer2" name="employer2" class="form-control" value="<%= @member.employment_history["employment2"]["employer"] %>"></td>
                                <td><input type="text" id="position2" name="position2" class="form-control" value="<%= @member.employment_history["employment2"]["position"] %>"></td>
                            <% else %>
                                <td><input type="text" id="period2" name="period2" class="form-control" ></td>
                                <td><input type="text" id="employer2" name="employer2" class="form-control" ></td>
                                <td><input type="text" id="position2" name="position2" class="form-control" ></td>
                            <% end %>
                        </tr>
                        <tr>
                            <td>3</td>
                            <% if @member.employment_history.present? && @member.employment_history['employment3'].present? %>
                                <td><input type="text" id="period3" name="period3" class="form-control" value="<%= @member.employment_history["employment3"]["period"] %>"></td>
                                <td><input type="text" id="employer3" name="employer3" class="form-control" value="<%= @member.employment_history["employment3"]["period"] %>"></td>
                                <td><input type="text" id="position3" name="position3" class="form-control" value="<%= @member.employment_history["employment3"]["period"] %>"></td>
                            <% else %>
                                <td><input type="text" id="period3" name="period3" class="form-control"></td>
                                <td><input type="text" id="employer3" name="employer3" class="form-control"></td>
                                <td><input type="text" id="position3" name="position3" class="form-control"></td>
                            <% end %>
                        </tr>
                    </table>
                </div>
            </div>
         -->
        <!-- 
            <div class="col-xs-12">  
                <div class="col-sm-3">
                <h6 align="center">ISSUE DATE</h6>
                    <div class="panel">
                        <input type="text" id="issue_date" name="issue_date" class="form-control">
                    </div>
                </div>
                <div class="col-sm-9">
                <h6 align="center">UPGRADE TYPE</h6>
                    <div class="col-sm-offset-4">
                        <%= radio_button_tag(:upgraded_type, "sm_to_am") %>
                        <%= label_tag(:type_sm_am, "Student Member to Associate Member", class: 'control-label') %>
                    </div>
                    <div class="col-sm-offset-4">
                        <%= radio_button_tag(:upgraded_type, "am_to_pm") %>
                        <%= label_tag(:type_am_pm, "Associate Member to Professional Member", class: 'control-label') %>
                    </div>
                     
                    <div class="col-sm-offset-4">
                            <%= radio_button_tag(:upgraded_type, "pm_to_fm") %>
                        <%= label_tag(:type_sm_pm, "Professional Member to Fellow Member", class: 'control-label') %>
                    </div>
                </div>
            </div>
         -->
        <div class="">
            <br/>
            <%= f.submit "Upgrade Membership", :class => 'btn btn-primary' %>
        </div>
    <% end %>

    <div style="clear: right;">
        <hr/>
        <em>For Enquiry</em>
        <p><b>Myanmar Computer Professionals Association</b> <br/>
        Building (9), Ground Floor, MICT Park, Hlaing Compus, Hlaing Township, Yangon, Myanmar.<br/>
        Phone: (01) 652276, (09) 730 88300  Email: office@mcpamyanmar.org, Web: www.mcpamyanmar.org</p>
    </div>
</div>

<script>
$(document).ready(function() {
    $("#btn_rnr").click(function(){
        $('#rule_and_regulation').value = 'View';
        $('#rule_and_regulation').toggle();
    });

    const numberWithCommas = (x) => {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
});
</script>
