      <p class="notice"><%= @notice %></p>
<%= form_for @ecmember, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @ecmember.errors.any? %>
    <strong><%= @ecmember.errors.count %> errors detected.</strong>
    <ul>
    <% @ecmember.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
  
  <div class="form-group ">
    <%= f.label :organization_id, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.select(:organization_id, @organizations.all.collect{|o| [o.organization_name, o.id]}, {include_blank: 'Choose An Organization'}, class: 'form-control')%>
    </div>
  </div>

  <div class="form-group ">
    <%= f.label :member_id, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.select(:member_id, @members.collect{|m| [m.name, m.id]}, {include_blank: 'Choose A Member'}, class: 'form-control') %>
    </div>
  </div>

  <div class="form-group ">
    <%= f.label :role, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.select('role', Ecmember.select(:role).distinct.collect {|ecm| ecm.role },{include_blank: 'Choose role'}, {class: 'form-control'}) %>
    </div>
  </div>
  <div class="form-group ">
    <%= f.label :year, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :year, value: '2016-2017', class: 'form-control' %>
      <br/>
  </div>
  <div class="form-actions col-xs-12">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ecmembers_path, :class => 'btn' %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>

<script>
  

$(document).ready(function() {
    createEditableSelect(document.new_ecmember.ecmember_year);
    if ("<%= @members.present? %>"){
      document.getElementById('ecmember_member_id').disabled = true;
    }else{
      document.getElementById('ecmember_member_id').disabled = false;
    }
    $('#ecmember_organization_id').change(function() {
      document.getElementById('ecmember_member_id').disabled = false;
        $.ajax({
            url: "<%= member_search_path %>",
            data: { organization_id: $('#ecmember_organization_id').val()},
            method: "GET",
            dataType: "script"
        });
    });
});
</script>
