<!-- <div id="member_select"> -->
<%= @members.count %>
<%= select_tag "member_id", options_from_collection_for_select(@members, "id", "name"), {include_blank: 'Choose Member', class: 'form-control input-sm'} %>
<!-- </div> -->


