<%- model_class = Ecmember -%>
<div class="">
  <% unless current_user.role == 'Member' %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
              new_ecmember_path,
              :class => 'btn btn-primary btn-sm pull-right' %>
  <% end %>
  <h4><%=t '.title', :default => model_class.model_name.human.pluralize %> <small>(<%= @ecmembers.count || 0 %>) found.</small></h4>
  <%= link_to "Export CSV", "/export-ecmembers.csv?url=#{request.url}" %>
</div>

<% if current_user.role != 'Member' %>
    <div class="alert alert-warning">Click the 'FILTER' button.</div>
    <div class="row" style="margin-bottom: -15px;" >
        <%= form_tag "/ecmembers", method: 'get' do %>
          <div class="col-sm-5 col-xs-12">
              <%- placeholder = current_user.role == "Memeber" ? 'Filter by Ecmember Name' : 'Filter by Member Number/ Name/ NRC' %>
              <%= text_field_tag :search_by, params[:search_by], placeholder: "#{placeholder}", autocomplete: :off, class: 'form-control input-sm' %>
          </div>
          <div class="col-sm-3 col-xs-12">
            <%= select_tag :search_role, options_for_select(Ecmember.select(:role).distinct.collect {|ecm| ecm.role }), {class: 'form-control input-sm', include_blank: "Choose Role"} %>
          </div>
          <div class="col-sm-3 col-xs-12">
            <%= select_tag :search_year, options_for_select(Ecmember.select(:year).distinct.collect {|ecm| ecm.year }), {include_blank: 'Choose Year', class: 'form-control input-sm'} %>
          </div>
          <div class="col-sm-1 col-xs-12">
            <%= submit_tag "Filter", :name=> nil, class: "btn btn-primary btn-sm pull-right" %>
          </div>
        <% end %> 
    </div>
<% end %>
        
<% if @ecmembers.present? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:organization_id) %></th>
        <th>Member No.</th>
        <th><%= model_class.human_attribute_name(:member_id) %></th>
        <th><%= model_class.human_attribute_name(:role) %></th>
        <th><%= model_class.human_attribute_name(:year) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @ecmembers.each do |ecmember| %>
        <tr>
          <td><%= ecmember.organization.organization_name if ecmember.organization.present? %></td>
          <td><%= ecmember.member.member_no if ecmember.member.present? %></td>
          <td><%= ecmember.member.name if ecmember.member.present? %></td>
          <td><%= ecmember.role %></td>
          <td><%= ecmember.year %></td>
          <td>
          <% unless current_user.role == "Member" %>
            <%= link_to t('.show', :default => t("helpers.links.show")),
                        ecmember_path(ecmember), :class => 'btn btn-xs' %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_ecmember_path(ecmember), :class => 'btn btn-primary btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")), ecmember_path(ecmember), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger btn-xs' if current_user.role == "Admin" %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div align="center">
    <%= will_paginate @ecmembers %>
  </div>
<% else %>
    <br/>
    <div class="alert alert-info">No data found.</div>
<% end -%>

