<%- model_class = Ecmember -%>
<div class="">
  <h4><%=t '.title', :default => model_class.model_name.human %></h4>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:organization_id) %>:</strong></dt>
  <dd><%= @ecmember.organization.organization_name if @ecmember.organization.present? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:role) %>:</strong></dt>
  <dd><%= @ecmember.role %></dd>
  <dt><strong><%= model_class.human_attribute_name(:year) %>:</strong></dt>
  <dd><%= @ecmember.year %></dd>

  <% if @ecmember.member.present? %>
      <% member = @ecmember.member %>

    <br/>
    <h5>Member Information</h5>
      <dt><strong>member_no :</strong></dt>
      <dd><%= member.member_no %></dd>
      <dt><strong>name :</strong></dt>
      <dd><%= member.name %></dd>
      <dt><strong>address :</strong></dt>
      <dd><%= member.address %></dd>
      <dt><strong>state :</strong></dt>
      <dd><%= member.state %></dd>
      <dt><strong>phone :</strong></dt>
      <dd><%= member.phone %></dd>
      <dt><strong>email :</strong></dt>
      <dd><%= member.email %></dd>
      <dt><strong>is_world_member :</strong></dt>
      <dd><%= member.is_world_member %></dd>
  <% end -%>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              ecmembers_path, :class => 'btn'  %>
  <% unless current_user.role == 'Member' %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_ecmember_path(@ecmember), :class => 'btn btn-primary' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")), ecmember_path(@ecmember), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger' if current_user.role == "Admin" %>
  <% end %>
</div>

<div class="container"><br/></div>