<h4>Ready for review.</h4>

<p>New membership applys. Here is the details infromation about the new applicant.</p>

	<div class="col-lg-6 col-md-6">
	  <dl class="dl-horizontal">
	    <dt><strong>Name	:</strong></dt>
	    <dd><%= @membership_application.name %></dd>
	    <dt><strong>Email	:</strong></dt>
	    <dd><%= @membership_application.email %></dd>
	    <dt><strong>Phone	:</strong></dt>
	    <dd><%= @membership_application.phone %></dd>
	    <dt><strong>Address	:</strong></dt>
	    <dd><%= @membership_application.address %></dd>
	    <dt><strong>State	:</strong></dt>
	    <dd><%= @membership_application.state %></dd>
	    <dt><strong>Member Type	:</strong></dt>
	    <dd><%= @membership_application.member_type %></dd>
	    <dt><strong>Highest Education	:</strong></dt>
	    <dd><%= @membership_application.highest_education %></dd>
	    <dt><strong>Certificates	:</strong></dt>
	    <% if @membership_application.certificates.present? %>
		    <dd>
		      <%- @membership_application.certificates.each do |key, value| -%>
			        <strong>Title : </strong>
			        <%= value.first %><br/>
			        <br/>
		      <%- end -%>
		    </dd>
	    <% end %>
	  </dl>
	</div>
