<h4>Request for membership extension made by <%= @member.name %></h4>

<p>The <strong><%= @member.memberships.first.grade %></strong> named <strong><%= @member.name %></strong> with member no. <strong><%= @member.member_no %></strong> from the <strong><%= @member.organizations.first.organization_name %></strong> wants to extend his/her membership for <strong><%= @request.extended_month %></strong> months. </p>
<p>His/her current membership will be expired in <strong><%= @member.memberships.first.valid_till %></strong>. </p>

