Membership accepted.

<h4>Congratulation</h4>

<p>Your request for extending/renewing membership have approved.</p>
<p>Your membership will be valid until <%= @member.memberships.first.valid_till %></p>

<p class="col-lg-12 col-md-12 footer" style="color:#fff;">
    <br/>
    &copy; 2017-2018 &dash; <%= link_to "Myanmar Computer Professional Association", "http://mcpamyanmar.org/"%>
    <br/>
    <br/>
</p>

