<h4>Welcome to MCPA</h4>

<p>You’ve joined the MCPA organization, named <strong><%= @user.member.organizations.first.organization_name %></strong>. Here are your account details:</p>


<p>
	<label>Email :</label><%= @user.email %> <br/>
	<label>Password :</label><%= @password %> <br/>
	<strong>Please change the password as soon as you login into the MCPA member system. ('mcpa.mcpamyanmar.org/users/sign_in') </strong>
</p>


<p class="col-lg-12 col-md-12 footer" style="color:#fff;">
    <br/>
    &copy; 2017-2018 &dash; <%= link_to "Myanmar Computer Professional Association", "http://mcpamyanmar.org/"%>
    <br/>
    <br/>
</p>

