<h4>Congratulation</h4>

<p>Your request for upgrading membership rank <%= 'Student member to Associate member' if @request.upgraded_type == 'sm_to_am' %><%= 'Student member to Professional member' if @request.upgraded_type == 'sm_to_pm' %><%= 'Associate member to Professional member' if @request.upgraded_type == 'am_to_pm' %> have approved.</p>


<p class="col-lg-12 col-md-12 footer" style="color:#fff;">
    <br/>
    &copy; 2017-2018 &dash; <%= link_to "Myanmar Computer Professional Association", "http://mcpamyanmar.org/"%>
    <br/>
    <br/>
</p>

