<h4>Request to upgrade member rank made by <%= @member.name %></h4>

<p>The <strong><%= @member.memberships.first.grade %></strong> named <strong><%= @member.name %></strong> with member no. <strong><%= @member.member_no %></strong> from the <strong><%= @member.organizations.first.organization_name %></strong> wants to upgrade the rank of his/her membership form <strong><%= 'Student member to Associate member' if @request.upgraded_type == 'sm_to_am' %><%= 'Student member to Professional member' if @request.upgraded_type == 'sm_to_pm' %><%= 'Associate member to Professional member' if @request.upgraded_type == 'am_to_pm' %></strong>.</p>
