<div class="page-header">
    <h4>Edit <%= resource_name.to_s.humanize %></h4>
</div>
    
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <% if @user.errors.any? %>
    <strong><%= @user.errors.count %> errors detected.</strong>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
  
  <div class="form-group col-md-12">
    <%= f.label :email, class: 'control-label col-md-2' %>
    <div class="panel col-md-4">
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group col-md-12">
    <%= f.label :profile, :class => 'control-label col-md-2' %>
    <div class=" panel col-md-4">
      <%= f.file_field :profile, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group col-md-12">
    <%= f.label :role, class: 'control-label col-md-2' %>
    <div class="panel col-md-4">
      <input type= "text" value= "<%= @user.role %>" name= "user[role]" id= "user_role" disabled= "disabled" class= "form-control">
    </div>
  </div>
  
  <div class="form-group col-md-12">
   <i>(we need your current password to confirm your changes)</i><br />
    <%= f.label :current_password, class: 'control-label col-md-2' %>
    <div class="panel col-md-4">
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
    </div>
  </div>
<!-- 
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
-->
  <div class="form-group col-md-12">
   <i>(leave blank if you don't want to change it)</i><br />
    <%= f.label :password, class: 'control-label col-md-2' %>
    <div class="panel col-md-4">
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: " 8 characters minimum" %>
    </div>
  </div>

  <div class="form-group col-md-12">
    <%= f.label :password_confirmation, class: 'control-label col-md-2' %>
    <div class="panel col-md-4">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= link_to "Back", :back, class: 'btn btn-default' %>
    <%= f.submit "Update", class: 'btn btn-primary' %>
  </div>
<% end %>
<hr/>
<h4>Cancel my account</h4>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>

