<div>
    <br/>
    <br/>
    <h4>Sign up</h4>

    <%= form_for(resource, as: @user, url: registration_path(@user)) do |f| %>
      <% if @user.errors.any? %>
        <strong><%= @user.errors.count %> errors detected.</strong>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      <% end %>

      <div class="form-group col-md-12">
        <%= f.label :email, class: 'control-label col-md-2' %>
        <div class="col-md-4">
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group col-md-12">
        <%= f.label :password, class: 'control-label col-md-2' %>
        <div class="col-md-4">
          <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: " #{@minimum_password_length} characters minimum" %>
        </div>
      </div>

      <div class="form-group col-md-12">
        <%= f.label :password_confirmation, class: 'control-label col-md-2' %>
        <div class="col-md-4">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
</div>