    <br/>
    <br/>
    <div class="col col-md-4 col-sm-6 col-lg-4" style="margin-left:20px;">
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <%= image_tag 'mcpa_logo', style: "width:40px;", class:"pull-left" %> 
                    <br/>
                    <h5 style="color:#21409a;font-weight:bold;">Member Management System</h5>
                    <div class="clearfix"></div>
                    <hr/>
                </div>
                <%- if alert %>
                    <div class="alert alert-danger" role="alert"><%= alert %></div>
                <%- end -%>
                <%- if notice -%>
                    <div class="alert alert-info" role="alert"><%= notice %></div>
                <%- end -%>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form') do |f| %>
                    <div class="form-field">
                        <%= f.label :email %><br />
                        <%= f.email_field :email, autofocus: true, placeholder: 'name@email.com', class: 'form-control' %>
                    </div>

                    <div class="form-field">
                        <%= f.label :password %><br />
                        <%= f.password_field :password, autocomplete: "off", class: 'form-control'%>
                    </div>

                    <% if devise_mapping.rememberable? -%>
                        <div class="form-check">
                            <br/>
                            <label class="form-check-label">
                            <%= f.check_box :remember_me %>
                            Remember Me
                            </label>
                        </div>
                    <% end -%>


                        <%= f.submit "Log in", class: "btn btn-primary pull-right" %>
                        <%= link_to 'Not Register Yet?', new_application_url, class: "pull-left" %>

                <% end %>

                <!-- 
                <%= render "users/shared/links" %>
                -->
            </div>
        </div>
    </div>
