<%- model_class = MembershipApplication -%>
<div class="">
  <h4><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                               :default => "Edit MCPA #{model_class.model_name.human}") %></h4>
</div>
<%= render :partial => 'form' %>
