<%- model_class = MembershipApplication -%>
<div class="">
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_membership_application_path,
              :class => 'btn btn-primary btn-sm pull-right' %>
  <h4><%=t '.title', :default => model_class.model_name.human.pluralize %> <small>(<%= @membership_applications.count || 0 %>) found.</small></h4>
</div>
    <div class="alert alert-warning">Click the 'FILTER' button.</div>
    <div style="margin-bottom: -15px;" >
        <div class="row hidden-xs">
            <%= form_tag "/membership_applications", method: 'get' do %>
                <div class="col-sm-4">
                    <%= text_field_tag :search_by, params[:search_by], placeholder: 'Name/Phone/Email/NRC', autocomplete: :off, class: 'form-control input-sm' %>
                </div>
                <div class="col-sm-3">
                    <input type="text" id="date_search" name="date_search" class="form-control input-sm" placeholder="Apply Before the date" >
                </div>
                <div class="col-sm-2">
                    <%= select_tag 'grade_search', options_for_select(["Associate Member", "Student Member", "Professional Member", "Fellow Member"]), {:class => 'form-control input-sm', include_blank: 'Choose Grade'} %>
                </div>
                <% if current_user.role == "Admin" %>
                    <div class="col-sm-2">
                        <%= select_tag 'state_search', options_from_collection_for_select(State.all, :id, :name), {:class => 'form-control input-sm', include_blank: 'Choose State'} %>
                    </div>
                <% end -%>
                <div class="col-sm-1 pull-right">
                    <%= submit_tag "Filter", :name=> nil, class: "btn btn-primary btn-sm pull-right" %>
                    <br/>
                </div>
            <% end %>
        </div>
    </div>
        <% if @membership_applications.present? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:member_type) %></th>
      <th><%= model_class.human_attribute_name(:highest_education) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @membership_applications.each do |membership_application| %>
      <tr>
        <td><%= membership_application.name %></td>
        <td><%= membership_application.email %></td>
        <td><%= membership_application.phone %></td>
        <td><%= membership_application.member_type %></td>
        <td><%= membership_application.highest_education %></td>
        <td><%= membership_application.state %></td>
        <td>
          <% unless membership_application.member.present? %>
            <%= link_to "Accept", accept_membership_application_request_url(membership_application), :class => 'btn btn-xs' %>
            <!-- <%= link_to "Reject", reject_membership_application_request_url(membership_application), :class => 'btn btn-xs' %> -->
          <% end %>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      membership_application_path(membership_application), :class => 'btn btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_membership_application_path(membership_application), :class => 'btn btn-primary btn-xs'  if current_user.role == "Admin" %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")), membership_application_path(membership_application), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger btn-xs' if current_user.role == "Admin" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div align="center">
  <%= will_paginate @membership_applications %>
</div>
      <% else %>
      <br/>
<div class="alert alert-info">No data found.</div>
      <% end -%>

<script type="text/javascript">
    $(document).ready(function() {

        $( "#date_search" ).datepicker({
            // changeMonth: true,
            // changeYear: true,
            // yearRange: '2017:2050',
            dateFormat: "dd-mm-yy"
        });
    });
</script>
