<%- model_class = MembershipApplication -%>
<div class="page-header">
  <%= image_tag 'mcpa_logo', style: "width:80px;", class:"pull-right" %> 
  <h4><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                :default => "New Membership Application") %></h4>
</div>
<%= render :partial => 'form' %>
