<%- model_class = MembershipApplication -%>
<div class="">
  <h4><%=t '.title', :default => model_class.model_name.human %></h4>
</div>

<div class="col-lg-6 col-md-6">
  <dl class="dl-horizontal">
    <h6>1. PERSONAL INFORMATION</h6>
    <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
    <dd><%= @membership_application.name %></dd>
    <dt><strong><%= model_class.human_attribute_name(:burmese_name) %>:</strong></dt>
    <dd><%= @membership_application.burmese_name %></dd>
    <dt><strong><%= model_class.human_attribute_name(:gender) %>:</strong></dt>
    <dd><%= @membership_application.gender %></dd>
    <dt><strong><%= model_class.human_attribute_name(:dob) %>:</strong></dt>
    <dd><%= @membership_application.dob %></dd>
    <dt><strong><%= model_class.human_attribute_name(:nrc) %>:</strong></dt>
    <dd><%= @membership_application.nrc_initial %>/<%= @membership_application.nrc_tsp %>(<%= @membership_application.nrc_middle %>)<%= @membership_application.nrc_no %></dd>
    <dt><strong><%= model_class.human_attribute_name(:father_name) %>:</strong></dt>
    <dd><%= @membership_application.father_name %></dd>
    <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
    <dd><%= @membership_application.address %></dd>
    <dt><strong><%= model_class.human_attribute_name(:township) %>:</strong></dt>
    <dd><%= @membership_application.township %></dd>
    <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
    <dd><%= @membership_application.state %></dd>
    <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
    <dd><%= @membership_application.phone %></dd>
    <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
    <dd><%= @membership_application.email %></dd>
    <dt><strong><%= model_class.human_attribute_name(:member_type) %>:</strong></dt>
    <dd><%= @membership_application.member_type %></dd>
  </dl>
</div>

<div class="col-lg-6 col-md-6">
  <dl class="dl-horizontal">

    <h6>2. EDUCATION INFORMATION</h6>
    <dt><strong><%= model_class.human_attribute_name(:highest_education) %>:</strong></dt>
    <dd><%= @membership_application.highest_education %></dd>
    <dt><strong><%= model_class.human_attribute_name(:certificates) %>:</strong></dt>
    <dd>
    <% if @membership_application.certificates.present? %>
      <%- @membership_application.certificates.each do |key, value| -%>
        <strong><%= key %></strong>
        <% value.each do |k, v| %>
          <%= k %> : <%= v %> | 
        <% end %>
        <br/>
      <%- end -%>
    <% end %>
    </dd>
    <dt><strong><%= model_class.human_attribute_name(:areas_of_training) %>:</strong></dt>
    <dd><%= @membership_application.areas_of_training.compact if @membership_application.areas_of_training.present? %></dd>
    <dt><strong><%= model_class.human_attribute_name(:efficiencies) %>:</strong></dt>
    <dd><%= @membership_application.efficiencies.compact if @membership_application.efficiencies.present? %></dd>
    </dl>
</div>

<div class="col-xs-12">
  <dl class="dl-horizontal">
    <h6>3. EMPLOYMENT INFORMATION</h6>
    <dt><strong><%= model_class.human_attribute_name(:current_employment) %>:</strong></dt>
    <dd>
    <% if @membership_application.current_employment.present? %>
      <%- @membership_application.current_employment.each do |key, value| -%>
        <strong><%= key %></strong> : <%= value %><br/>
      <%- end -%>
    <% end %>
    </dd>
    <dt><strong><%= model_class.human_attribute_name(:employment_history) %>:</strong></dt>
    <dd>
    <% if @membership_application.employment_history.present? %>
      <%- @membership_application.employment_history.each do |key, value| -%>
        <strong><%= key %> </strong>
        <% value.each do |k, v| %>
          <%= k %> : <%= v %> | 
        <% end %>
        <br/>
      <%- end -%>
    <% end %>
    </dd>
    <dt><strong><%= model_class.human_attribute_name(:areas_of_professional_working_experiences) %>:</strong></dt>
    <dd><%= @membership_application.areas_of_professional_working_experiences.compact if @membership_application.areas_of_professional_working_experiences.present? %></dd>
  </dl>
</div>

<div class="col-xs-12">
  <% if @membership_application.attachments.present? %>
      <%- @membership_application.attachments.each do |attachment| -%>
      <div class="col-md-4 col-sm-6">
        <%= image_tag attachment.file_attachment.url(:small) %><br/>
        <strong><%=  attachment.attachment_type%></strong>
      </div>
      <% end -%>
    <% end %>
</div>

<div class="form-actions col-xs-12">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              membership_applications_path, :class => 'btn'  %>
  <% unless @membership_application.member.present? %>
    <%= link_to "Accept", accept_membership_application_request_url(@membership_application), :class => 'btn ' %>
    <!-- <%= link_to "Reject", reject_membership_application_request_url(@membership_application), :class => 'btn ' %> -->
  <% end %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_membership_application_path(@membership_application), :class => 'btn btn-primary' if current_user.role == "Admin" %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              membership_application_path(@membership_application), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger' if current_user.role == "Admin" %>

</div>
  <div class="container"><br/></div>
<br/>