<div id="town_select">
<%= select_tag "township]", options_from_collection_for_select(@townships, "id", "name"), {include_blank: 'Choose Township', class: 'form-control input-sm'} %>
<%= @townships.inspect %>
<%= @townships.count %>
<%= @townships.ids %>
</div>
