<div class="page-header">
  <%= image_tag 'mcpa_logo', style: "width:80px;", class:"pull-right" %> 
  <h4>Myanmar Computer Professionals Association</h4>
</div>
<div class="col-md-12">
	<p>Your membership is successfully applied. Please upload required attachments later.</p>
	<p>Your password is <%= @password %>. Please change it after you login.</p>
	<p><%= link_to "Add Attachment", "/attachments/new?membership_application_ref_no=#{@membership_application.ref_no}" %> for the attachment</p>
	<br/>
</div>