      <p class="notice"><%= @notice %></p>
<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @user.errors.any? %>
    <strong><%= @user.errors.count %> errors detected.</strong>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

  <div class="form-group ">
    <%= f.label :staff_id, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.select(:staff_id, Staff.all.collect {|s| [s.name, s.id]} , {include_blank: 'Choose Staff'}, {class: 'form-control'}) if @user.staff_id.present? %>
      <%= f.select(:staff_id, Staff.all.collect {|s| [s.name, s.id] unless s.user.present?}.compact , {include_blank: 'Choose Staff'}, {class: 'form-control'}) unless @user.staff_id.present? %><!-- 
      <%= f.number_field :staff_id, :class => 'form-control' %> -->
    </div>
  </div>

  <div class="form-group ">
    <%= f.label :member_id, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.number_field :member_id, :class => 'form-control', placeholder: 'Ender Member ID', value: "#{@user.member_id||' '}" %>
    </div>
  </div>

  <div class="form-group ">
    <%= f.label :profile, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.file_field :profile, :class => 'form-control' %>
    </div>
  </div>

  <div id="populate">
    <div class="form-group ">
      <%= f.label :role, :class => 'control-label col-md-2' %>
      <div class="col-md-4">
        <%= f.select(:role, ['Admin', 'Staff', 'Member'], {include_blank: 'Choose Role'}, {class: 'form-control'}) %>
      </div>
    </div>

    <div class="form-group ">
      <%= f.label :email, :class => 'control-label col-md-2' %>
      <div class="col-md-4">
        <%= f.email_field :email, :class => 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group ">
    <%= f.label :password, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.password_field :password, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group ">
    <%= f.label :password_confirmation, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.password_field :password_confirmation, :class => 'form-control' %>
    </div>
  </div>


  <div class="form-actions">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
  
<% end %>

<!-- 
<script>
    $(document).ready(function() {
    $("#user_staff_id").change( function(){
      $.ajax({
        url: "<%= populate_by_staff_id_path %>",
        data: {staff_id: $("#user_staff_id").val()},
        method: 'GET',
        dataType: 'script'
      });
    });

    $("#user_member_id").change( function(){
      $.ajax({
        url: "<%= populate_by_member_id_path %>",
        data: {member_id: $("#user_member_id").val()},
        method: 'GET',
        dataType: 'script'
      });
    });

  });

</script> -->