<div id="populate">

<% if @member.present? %>
  <div class="form-group ">
    <label class="control-label col-md-2">Role</label>
    <div class="col-md-4">
    <input type="text" value="Member" id="user_role" name="user[role]" class="form-control" disabled="disabled">
    </div>
  </div>

  <div class="form-group ">
    <label class="control-label col-md-2">Email</label>
    <div class="col-md-4">
    <input type="text" value="<%= @member.email %>" id="user_email" name="user[:email]" class="form-control" disabled="disabled">
    </div>
  </div>
<% else %>
  <div class="form-group ">
    <label class="control-label col-md-2">Role</label>
    <div class="col-md-4">
      <%= select_tag "user[role]", options_for_select(["Admin", "Staff"]), {class: 'form-control' , include_blank: 'Choose Role'} %>
    </div>
  </div>

  <div class="form-group ">
    <label class="control-label col-md-2">Email</label>
    <div class="col-md-4">
    <input type="text" value="<%= @staff.email %>" id="user_email" name="user[:email]" class="form-control" disabled="disabled">
    </div>
  </div>
<% end %>
</div>