<div class="">
    <h4>Change Current Information</h4>
</div>
    
<%= form_for(@user, url: user_update_information_path, html: { method: :post }) do |f| %>
  <% if @user.errors.any? %>
    <strong><%= @user.errors.count %> errors detected.</strong>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
  
  <div class="form-group col-md-12">
    <%= f.label :email, class: 'control-label col-md-2' %>
    <div class="panel col-md-4">
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group col-md-12">
    <%= f.label :profile, :class => 'control-label col-md-2' %>
    <div class=" panel col-md-4">
      <%= f.file_field :profile, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group col-md-12">
    <%= f.label :role, class: 'control-label col-md-2' %>
    <div class="panel col-md-4">
      <input type= "text" value= "<%= @user.role %>" name= "user[role]" id= "user_role" disabled= "disabled" class= "form-control">
    </div>
  </div>
  
  <div class="form-group col-md-12">
   <i>(we need your current password to confirm your changes)</i><br />
    <%= f.label :current_password, class: 'control-label col-md-2' %>
    <div class="panel col-md-4">
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= link_to "Back", :back, class: 'btn btn-default' %>
    <%= f.submit "Update", class: 'btn btn-primary' %>
  </div>
<% end %>
