<%- model_class = User -%>
<div class="">
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_user_path,
              :class => 'btn btn-primary btn-sm pull-right' %>
  <h4><%=t '.title', :default => model_class.model_name.human.pluralize %> <small>(<%= @users.count || 0 %>) found.</small></h4>
</div>

<% if current_user.role != "Member" %>
    <div class="alert alert-warning">Click the 'FILTER' button.</div>
    <div class="row" style="margin-bottom: -15px;" >
      <%= form_tag '/users', method: 'get' do %>
          <div class="col-sm-5">
                <%= text_field_tag :search_by, params[:search_by], placeholder: 'Filter by User Name/Email', autocomplete: :off, class: 'form-control input-sm pull-right' %>
          </div>
          <div class="col-sm-4">
                <%= select_tag :search_role, options_for_select(['Admin', 'Head', 'Staff', 'Member']), {include_blank: 'Choose Role', class: 'form-control input-sm'} %>
          </div>
          <div class="col-sm-1 pull-right">
              <%= submit_tag 'Filter', name: nil, class: "btn btn-primary btn-sm pull-right" %>
          </div>
      <% end %>
    </div>
<% end -%>
      
<% if @users.present? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:role) %></th>
            <th><%= model_class.human_attribute_name(:email) %></th>
            <th><%= model_class.human_attribute_name(:staff_id) %></th>
            <th><%= model_class.human_attribute_name(:member_id) %></th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.role %></td>
              <td><%= user.email %></td>
              <td><%= user.staff.name if user.staff.present? %></td>
              <td><%= user.member.name if user.member.present? %></td>
              <td>
                <%= link_to t('.show', :default => t("helpers.links.show")),
                            user_path(user), :class => 'btn btn-xs' %>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_user_path(user), :class => 'btn btn-primary btn-xs' %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                            user_path(user),
                            :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                            :class => 'btn btn-danger btn-xs' if current_user.role == 'Admin' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div align="center">
        <%= will_paginate @users %>
      </div>
<% else %>
      <br/>
      <div class="alert alert-info">No data found.</div>
<% end -%>
