<%- model_class = User -%>
<div class="">
  <h4><%=t '.title', :default => model_class.model_name.human %></h4>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @user.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:role) %>:</strong></dt>
  <dd><%= @user.role %></dd>
  <% if @user.staff_id.present? %>
    <dt><strong><%= model_class.human_attribute_name(:staff_id) %>:</strong></dt>
    <dd><%= @user.staff.name %></dd>
  <% else %>
    <dt><strong><%= model_class.human_attribute_name(:member_id) %>:</strong></dt>
    <dd><%= @user.member.name %></dd>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:profile) %>:</strong></dt>
  <dd><%= image_tag @user.profile.url %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              users_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_path(@user), :class => 'btn btn-primary' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              user_path(@user),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' if current_user.role == 'Admin' %>
</div>

</br>
