      <p class="notice"><%= @notice %></p>
<%= form_for @state, :html => { :class => 'form-horizontal' } do |f| %>
	<% if @state.errors.any? %>
        <strong><%= @state.errors.count %> errors detected.</strong>
        <ul>
        <% @state.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
    <% end %>
	
	<div class="form-group">
		<%= f.label :name, :class => 'control-label col-md-2' %>
		<div class="col-md-4">
			<%= f.text_field :name, :class => 'form-control' %>
		</div>
	</div>

	<div class="form-actions">
		<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
		            states_path, :class => 'btn' %>
		<%= f.submit nil, :class => 'btn btn-primary' %>
	</div>
	
<% end %>
