<%- model_class = State -%>
<div class="">
  <%= link_to t('.new', :default => t("helpers.links.new")), new_state_path, :class => 'btn btn-primary btn-sm pull-right' %>
  <h4><%=t '.title', :default => model_class.model_name.human.pluralize %> <small>(<%= @states.count || 0 %>) found.</small></h4>
</div>

      <% if @states.present? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th>Township Count in the State</th>
    </tr>
  </thead>
  <tbody>
    <% @states.each do |state| %>
      <tr>
        <td><%= state.name %></td>
        <td><%= state.townships.count %></td>
        <% unless current_user.role != 'Admin' %>
            <td>
              <%= link_to t('.show', :default => t("helpers.links.show")),
                          state_path(state), :class => 'btn btn-xs' %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_state_path(state), :class => 'btn btn-primary btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          state_path(state),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-danger btn-xs' %>
            </td>
            <% end -%>
      </tr>
    <% end %>
  </tbody>
</table>

<div align="center">
  <%= will_paginate @states %>
</div>
      <% else %>
<div class="alert alert-info">No data found.</div>
      <% end -%>

