  <p class="notice"><%= @notice %></p>
  <%= form_for @attachment, :html => { :class => 'form-horizontal' } do |f| %>
    <% if @attachment.errors.any? %>
      <strong><%= @attachment.errors.count %> errors detected.</strong>
      <ul>
      <% @attachment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    <% end %>
    <div class="row">
        <div class="form-group col-md-12">
          <%= f.label :membership_application_id, :class => 'control-label col-md-2' %>
          <div class="col-md-4">
            <% if user_signed_in? && current_user.role != "Member" %>
              <%= f.select(:membership_application_id, MembershipApplication.all.collect {|m| [m.name, m.id]}, { include_blank: 'Choose Membership Applicaion'}, {class: 'form-control'}) %>
            <% else %>
              <input type="text" id="attachment_membership_application" name="attachment[membership_application_id]" value="<%= @attachment.membership_application.name if @attachment.membership_application.present? %>" class="form-control" readonly>
            <% end %>
          </div>
        </div>
        <div class="form-group col-md-12">
          <%= f.label :file_attachment, :class => 'control-label col-md-2' %>
          <div class="col-md-4">
            <%= f.file_field :file_attachment, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-actions col-md-12">
          <% if user_signed_in? %>
            <%= link_to "Back", :back, class: 'btn' %>
          <% elsif !@attachment.membership_application.attachments.present? %>
          <% end %>
          <%= f.submit nil, :class => 'btn btn-primary' %>
          <br/>
          <br/>
        </div>
    </div>
  <% end %>