<%- model_class = Attachment -%>
<div class="">
	<%= image_tag 'mcpa_logo', style: "width:80px;", class:"pull-right" %> 
	<% if user_signed_in? && current_user.role != "Member" %>
		<h4>New Attachment</h4>
	<% else %>
		<h4><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
            :default => "Bank Note for Membership application #{@attachment.membership_application.name if @attachment.membership_application.present? }") %></h4>
    <% end %>
</div>
<br/>
<div class="col-xs-12">
	<div class="row col-md-12" id="rule_and_regulation" hidden>
	    <div class="panel panel-default">
	    <div class="panel-heading">
	    <h5>အသင်းဝင်လိုသူများအတွက် စည်းကမ်းချက်များ</h5>
	    </div>
	    <div class="panel-body">
	    <p>
	        <h6>Student Member ဝင်ခွင့်ရသူများ</h6>
	        (ဝင်ကြေး - ၁,၅၀၀ ကျပ်၊ နှစ်စဉ်ကြေး - ၂,၀၀၀ ကျပ်)<br/>
	        ၁။  ကွန်ပျူတာတက္ကသိုလ်၊ နည်းပညာတက္ကသိုလ် (ပထမနှစ်၊ ဒုတိယနှစ်) တက်ရောက်နေသည့် ကျောင်းသား/ သူများ။<br/>
	        ၂။  မြန်မာနိုင်ငံကွန်ပျူတာပညာရှင်အသင်း အသိအမှတ်ပြုသည့် ကေျာင်း၊ အဖွဲ့အစည်းမှ ဖွင့် လှစ်သော IT Diploma သင်တန်း၊ International IT Diploma သင်တန်းတက်ရောက်ဆဲ ကျောင်းသား/သူများ။<br/>
	        ၃။  MCPA မှ အသိအမှတ်ပြုထားသည့် သင်တန်းများတွင် IT Professional Certification Course ကိုအနည်းဆုံး နာရီ(၁၂၀) တက်ရောက်ပြီးသူများ။<br/>
	    </p>
	    <p>
	        
	        <h6>Associate Member ဝင်ခွင့်ရသူများ</h6>
	        (ဝင်ကြေး - ၃,၀၀၀ ကျပ်၊ နှစ်စဉ်ကြေး - ၄,၀၀၀ ကျပ်)<br/>
	        ကွန်ပျူတာပညာဖြင့် အသက်မွေး၀မ်းကြောင်းပြုနေသူဖြစ်ပြီး အောက်ပါအရည်အချင်းများအနက် တစ်ခုခုနှင့် ကိုက်ညီလျှင် အသင်းသားရေးရာကော်မတီက လက်ခံစစ်ဆေးပြီး ခွင့်ပြုခြင်း/ ငြင်းပယ်ခြင်း ပြုလုပ်နိုင်သည်။<br/>
	        ၁။  International Advanced Diploma (2) Years လက်မှတ်ရရှိထားသူများ။<br/>
	        ၂။  International Professional Certification from Vendors (eg. MCSA, MCSD, ……..) လက်မှတ်ရရှိသူများ။<br/>
	        ၃။  မြန်မာနိုင်ငံကွန်ပျူတာပညာရှင်အသင်း အသိအမှတ်ပြုသည့် ကေျာင်း၊ အဖွဲ့အစည်းမှ ဖွင့်လှစ်သော IT Diploma အောင်မြင်ပြီးသူများ၊ MCPA မှ စစ်ဆေးသော MCPA Exam ကို အောင်မြင်ပြီးသူများ။<br/>
	        ၄။  ကွန်ပျူတာတက္ကသိုလ်၊ နည်းပညာတက္ကသိုလ်၊ စက်မှုတက္ကသိုလ်တို့တွင် တတိယနှစ်နှင့် အထက် တက်ရောက်နေသည့် ကျောင်းသား/ သူများ။<br/>
	        ၅။  ကွန်ပျူတာပညာရှင်အဖြစ် အနည်းဆုံး (၂) နှစ် လုပ်ကိုင်ခဲ့ကြောင်း ကုမ္ပဏီ (သို့မဟုတ်) AM အသင်းသား (သို့မဟုတ်) PM အသင်းသား (သို့မဟုတ်) မိမိ၏ ဆောင်ရွက်ပေးခဲ့/ ပေးလျက် ရှိသော အဖွဲ့အစည်း တစ်ခုခုမှ ထောက်ခံစာပါရှိရမည်။ <br/>

	    </p><p>
	        <h6>Professional Member ဝင်ခွင့်ရသူများ</h6>
	        (ဝင်ကြေး - ၄,၀၀၀ ကျပ်၊ နှစ်စဉ်ကြေး - ၆,၀၀၀ ကျပ်)<br/>
	        ကွန်ပျူတာပညာဖြင့် အသက်မွေးဝမ်းကြောင်း ပြုနေသူဖြစ်ပြီး အောက်ပါအရည်အချင်းများအနက် တစ်ခုခုနှင့် ကိုက်ညီလျှင် အသင်းသားရေးရာကော်မတီက လက်ခံစစ်ဆေးပြီး ခွင့်ပြုခြင်း/ ငြင်းပယ်ခြင်း ပြုလုပ်နိုင်သည်။<br/>
	        ၁။  AM သက်တမ်း (၂) နှစ်ကြာမြင့်ပြီး ကွန်ပျူတာပညာရှင်အဖြစ် ဆက်လက်လုပ်ကိုင်နေသူများ။<br/>
	        ၂။  ကွန်ပျူတာတက္ကသိုလ်၊ နည်းပညာတက္ကသိုလ်၊ စက်မှုတက္ကသိုလ်တို့မှ ဘွဲ့ရရှိပြီး လုပ်သက် (၂) နှစ် ကေျာ်ရှိသူများ။<br/>
	        ၃။  ကွန်ပျူတာပညာရှင်အဖြစ် အနည်းဆုံး (၂) နှစ်လုပ်ကိုင်ခဲ့ကြောင်း ကုမ္ပဏီ (သို့မဟုတ်) PM အသင်းသား (သို့မဟုတ်) မိမိ၏ ဆောင်ရွက်ပေးခဲ့/ ပေးလျက်ရှိသော အဖွဲ့အစည်းတစ်ခုခုမှ ထောက်ခံစာပါရှိရမည်။<br/>
	        ၄။  အသင်းအလုပ်အမှုဆောင် အစည်းအဝေးမှ ဆုံးဖြတ်ချက်ဖြင့် အသင်းအတွက် ကူညီပံ့ပိုးနိုင်သော အရည်အချင်းရှိသူများ။<br/>

	    </p><p>
	        <h6>Fellow Member ဝင်ခွင့်ရသူများ</h6>
	        (အဆင့်မြှင့်ကြေး- ၁၀၀,၀၀၀ ကျပ်၊ နှစ်စဉ်ကြေး - မရှိ)<br/>
	        အောက်ဖော်ပြပါ ပုဂ္ဂိုလ်များသည် အသင်းသို့ အဆိုပြုလျှောက်ထားနိုင်ပြီး အလုပ်အမှုဆောင်အဖွဲ့ အစည်းအဝေးမှ ဆုံးဖြတ်မည်။<br/>
	        ၁။  PM ဖြစ်ပြီး MCPA အသင်းတွင် အလုပ်အမှုဆောင် သက်တမ်းပြည့် (၁)ကြိမ် တာဝန်ထမ်းဆောင် ပြီးသူများ။<br/>
	        ၂။  တက္ကသိုလ်၊ ကောလိပ်များမှ IT ကွန်ပျူတာဌာနတစ်ခုခု၏ တွဲဖက်ပါမောက္ခရာထူးနှင့် အထက် တာဝန်ထမ်းဆောင်ခဲ့သူ/ တာဝန်ထမ်းဆောင်နေသူများ။<br/>
	        ၃။  PM သက်တမ်း (၁၀) နှစ်ပြည့်ပြီးသူများ။<br/>

	    </p><p>
	        <h6>Honorary Member ဝင်ခွင့်ရသူများ</h6>
	        (ဝင်ကြေး - မရှိ)<br/>
	        ၁။  မြန်မာနိုင်ငံအတွင်းကွန်ပျူတာပညာနှင့် အသုံးချမှုဖွံ့ဖြိုးပြန့်ပွားရေးအတွက် ထူးခြားစွာ ကူညီထောက်ပံ့သူ / ပံ့ပိုးပေးသူ။ (အလုပ်အမှုဆောင် အစည်းအဝေးဆုံးဖြတ်ချက်ဖြင့် ပေးအပ်ရန်။)<br/>

	    </p>
	    </div>
	    </div>
	</div>
	<input type="button" id="btn_rnr" value="Read Rules And Regulations" class="row btn-primary pull-right" />
</div>
<div class="row col-xs-12">
	<strong>Upload the bank note for the membership.</strong>
	<%= render :partial => 'form' %>
</div>
<script>
$(document).ready(function() {

    $("#btn_rnr").click(function(){
        $('#rule_and_regulation').toggle();
    });
});
</script>