<%- model_class = Attachment -%>
<div class="">
  <h4><%=t '.title', :default => model_class.model_name.human %></h4>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:membership_application_id) %>:</strong></dt>
  <dd><%= @attachment.membership_application.name if @attachment.membership_application.present? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:attachment_type) %>:</strong></dt>
  <dd><%= @attachment.attachment_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:file_attachment) %>:</strong></dt>
  <dd><%= image_tag @attachment.file_attachment.url(:medium) %></dd>
</dl>

<div class="form-actions">
<% if user_signed_in? %>
  <%= link_to t('.back', :default => t("helpers.links.back")), attachments_path, :class => 'btn'  %>
  <!-- <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_attachment_path(@attachment), :class => 'btn btn-primary' unless current_user.role == 'Member'  %> -->
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")), attachment_path(@attachment), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger' if current_user.role == 'Admin' %>
<% else %>
  <!-- <%= link_to 'New', "/attachments/new?membership_application_ref_no=#{@ref_no}", :class => 'btn btn-primary' %> -->
  <%= link_to 'Done', "/successful?membership_application_ref_no=#{@ref_no}", :class => 'btn btn-primary' %>
  <br/>
  <br/>
<% end %>
</div>
<br/>