<%= form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @event.errors.any? %>
    <strong><%= @event.errors.count %> errors detected.</strong>
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <%= f.label :from_date, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <input type="text" id="from_date" name="event[from_date]" value="<%= @event.from_date %>" class="form-control input-sm">
      <!-- <%= f.date_select :from_date, :class => 'form-control' %> -->
    </div>
  </div>
  <div class="form-group">
    <%= f.label :to_date, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <input type="text" id="to_date" name="event[to_date]" value="<%= @event.to_date %>" class="form-control input-sm">
      <!-- <%= f.date_select :to_date, :class => 'form-control' %> -->
    </div>
  </div>
  <div class="form-group">
    <%= f.label :from_time, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <input type="text" id="from_time" name="event[from_time]" value="<%= @event.from_time || Time.now %>" class="form-control input-sm">
      <!-- <%= f.time_select :from_time, :class => 'form-control' %> -->
    </div>
  </div>
  <div class="form-group">
    <%= f.label :to_time, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <input type="text" id="to_time" name="event[to_time]" value="<%= @event.to_time || Time.now %>" class="form-control input-sm">
      <!-- <%= f.time_select :to_time, :class => 'form-control' %> -->
    </div>
  </div>
  <div class="form-group">
    <%= f.label :place, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :place, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :participant_type, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :participant_type, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-actions">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn' %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>



<script>
  $(document).ready(function() {
      $( "#from_date" ).datepicker({
        dateFormat: "dd-mm-yy"
      });
      $( "#from_date" ).datepicker( "setDate", new Date());


      $( "#to_date" ).datepicker({
        dateFormat: "dd-mm-yy"
      });
      $( "#to_date" ).datepicker( "setDate", new Date());
  });
</script>