<%- model_class = Event -%>
<div class="">
  <%= (link_to t('.new', :default => t("helpers.links.new")), new_event_path,
            :class => 'btn btn-primary btn-sm pull-right') unless current_user.role == 'Member'  %>
  <h4><%=t '.title', :default => model_class.model_name.human.pluralize %><small> (<%= @events.count || 0 %>) found.</small></h4>
</div>

      <% if @events.present? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:from_date) %></th>
      <th><%= model_class.human_attribute_name(:to_date) %></th>
      <th><%= model_class.human_attribute_name(:from_time) %></th>
      <th><%= model_class.human_attribute_name(:to_time) %></th>
      <th><%= model_class.human_attribute_name(:place) %></th>
      <th><%= model_class.human_attribute_name(:participant_type) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.from_date %></td>
        <td><%= event.to_date %></td>
        <td><%= event.from_time.strftime("%H:%M:%S") %></td>
        <td><%= event.to_time.strftime("%H:%M:%S") %></td>
        <td><%= event.place %></td>
        <td><%= event.participant_type %></td>
        <td><%=l event.created_at %></td>
        <td>
          <%= link_to "Show", event_path(event), class: "btn btn-xs" %>
        <% unless current_user.role == 'Member' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_event_path(event), :class => 'btn btn-primary btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      event_path(event),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger btn-xs' %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
      <% else %>
<div class="alert alert-info">No data found.</div>
      <% end -%>

