<%- model_class = Event -%>
<div class="">
  <h4><%=t '.title', :default => model_class.model_name.human %></h4>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:from_date) %>:</strong></dt>
  <dd><%= @event.from_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:to_date) %>:</strong></dt>
  <dd><%= @event.to_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:from_time) %>:</strong></dt>
  <dd><%= @event.from_time.strftime("%H:%M:%S") %></dd>
  <dt><strong><%= model_class.human_attribute_name(:to_time) %>:</strong></dt>
  <dd><%= @event.to_time.strftime("%H:%M:%S") %></dd>
  <dt><strong><%= model_class.human_attribute_name(:place) %>:</strong></dt>
  <dd><%= @event.place %></dd>
  <dt><strong><%= model_class.human_attribute_name(:participant_type) %>:</strong></dt>
  <dd><%= @event.participant_type %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              events_path, :class => 'btn'  %>
        <% unless current_user.role == "Member" %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_event_path(@event), :class => 'btn btn-primary' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              event_path(@event),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
        <% end %>
</div>
