<%- model_class = Comittee -%>
<div class="page-header">
  <% unless current_user.role == 'Member' %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_comittee_path,
                :class => 'btn btn-primary btn-sm pull-right' %>
  <% end %>
  <h4><%=t '.title', :default => model_class.model_name.human.pluralize %> <small>(<%= @comittees.count || 0 %>) found.</small></h4>
</div>

<% unless current_user.role == 'Member' %>
  <div style="margin-bottom: -15px;" >
      <%= form_tag "/comittees", method: 'get' do %>
          <label class="pull-left">Search by :</label>
          <div class="form-group col-lg-4 col-md-4">
              <%= text_field_tag :search_by, params[:search_by], placeholder: 'Name', autocomplete: :off, class: 'form-control input-sm' %>
          </div>
          <div class="col-md-4">
            <%= select_tag :select_organization, options_for_select(Organization.all.collect{|o| [o.organization_name, o.id]}), {class: "form-control input-sm", include_blank: "Choose Organization"} %>
          </div>

          <div class="col-sm-1 pull-right">
              <%= submit_tag "Filter", :name=> nil, class: "btn btn-primary btn-sm pull-right" %>
          </div>
      <% end %>
  </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:organization_id) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @comittees.each do |comittee| %>
      <tr>
        <td><%= comittee.name %></td>
        <td><%= comittee.organization.organization_name if comittee.organization.present? %></td>
        <td>
          <% unless current_user.role == 'Member' %>
            <%= link_to t('.show', :default => t("helpers.links.show")),
                        comittee_path(comittee), :class => 'btn btn-xs' %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_comittee_path(comittee), :class => 'btn btn-primary btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        comittee_path(comittee),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-danger btn-xs' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<div align="center">
  <%= will_paginate @comittees %>
</div>