<%= form_for @request, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @request.errors.any? %>
    <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="form-group">
    <%= f.label :member_id, :class => 'control-label col-md-2' %>
    <div class="col-md-4" >
      <%= f.select(:member_id, Member.all.collect {|m| [m.name, m.id]}, {include_blank: "Choose a Member"}, {class: 'form-control'}) %>
      <!-- <%= f.number_field :member_id, :class => 'form-control' %> -->
    </div>
  </div>

  <div class="form-group">
    <%= f.label :request_type, :class => 'control-label col-md-2' %>
    <div class="col-md-4" >
      <%= f.select(:request_type, ["Extend", "Upgrade"], {include_blank: 'Choose a request type'}, {class: 'form-control'}) %>
      <!-- <%= f.text_field :request_type, :class => 'form-control' %> -->
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :upgraded_type, :class => 'control-label col-md-2' %>
    <div class="col-md-4" >
      <%= f.select(:upgraded_type, ["sm_to_am", "am_to_pm"], {include_blank: 'Choose a request type'}, {class: 'form-control'}) %>
      <!-- <%= f.text_field :upgraded_type, :class => 'form-control' %> -->
    </div>
  </div>
  
  <div class="form-group">
    <label class= 'control-label col-md-2'>Year To Extend</label>
    <div class="col-md-4" >
    <%= f.select(:extended_month, [1,2,3,4,5], {include_blank: 'Choose a year'}, {class: 'form-control'}) %>
    </div>
  </div>
  

  <div class="form-actions">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                requests_path, :class => 'btn' %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
