<%- model_class = Request -%>
<div class="">
  <%= link_to t('.new', :default => t("helpers.links.new")), new_request_path, :class => 'btn btn-primary btn-sm pull-right' %>
  <h4><%=t '.title', :default => model_class.model_name.human.pluralize %> <small>(<%= @requests.count || 0 %>) found.</small></h4>
</div>

<% if @requests.present? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:member_id) %></th>
            <th><%= model_class.human_attribute_name(:organization_id) %></th>
            <th><%= model_class.human_attribute_name(:organization_id) %></th>
            <th><%= model_class.human_attribute_name(:request_type) %></th>
            <th>Extended Year</th>
            <th><%= model_class.human_attribute_name(:upgraded_type) %></th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% @requests.each do |request| %>
            <tr>
              <td><%= request.member.name if request.member.present? %></td>
              <td><%= request.organization.organization_name if request.organization.present? %></td>
              <td><%= request.member.organizations.last.organization_name if request.member.present? && request.member.organizations.present? %></td>
              <td><%= request.request_type %></td>
              <td><%= request.extended_month %></td>
              <td><%= request.upgraded_type %></td>
              <td>
                <%= link_to 'Show', request_path(request), class: 'btn btn-xs' %>
                <%= link_to 'Accept', accept_request_path(request), class: 'btn btn-xs' %>
                <% if current_user.role == "Admin" %>
                    <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_request_path(request), :class => 'btn btn-primary btn-xs' %>
                    <%= link_to t('.destroy', :default => t("helpers.links.destroy")), request_path(request), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger btn-xs' %>
                <% end -%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
<% else %>
      <div class="alert alert-info">No data found.</div>
<% end -%>

