<%- model_class = Request -%>
<div class="">
  <h4><%=t '.title', :default => model_class.model_name.human %></h4>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:member_id) %>:</strong></dt>
  <dd><%= @request.member.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:organization_id) %>:</strong></dt>
  <dd><%= @request.organization.organization_name if @request.organization.present? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:request_type) %>:</strong></dt>
  <dd><%= @request.request_type %></dd>
  <dt><strong>Year to be extend:</strong></dt>
  <dd><%= @request.extended_month %> year(s)</dd>
  <dt><strong><%= model_class.human_attribute_name(:upgraded_type) %>:</strong></dt>
  <dd><%= @request.upgraded_type %></dd>

<% member = @request.member %>
<h5>Member Information</h5>
  <dt><strong><%= model_class.human_attribute_name(:member_no) %>:</strong></dt>
  <dd><%= member.member_no %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= member.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= member.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= member.state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= member.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= member.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:is_world_member) %>:</strong></dt>
  <dd><%= member.is_world_member %></dd>
  <dt><strong><%= model_class.human_attribute_name(:highest_education) %>:</strong></dt>
  <dd><%= member.highest_education %></dd>
  <dt><strong><%= model_class.human_attribute_name(:areas_of_training) %>:</strong></dt>
  <dd><%= member.areas_of_training.compact if member.areas_of_training.present? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:efficiencies) %>:</strong></dt>
  <dd><%= member.efficiencies.compact if member.efficiencies.present? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:areas_of_professional_working_experiences) %>:</strong></dt>
  <dd><%= member.areas_of_professional_working_experiences.compact if member.areas_of_professional_working_experiences.present? %></dd>
</dl>

<div class="row col-xs-12">
<h5>Attachments for the Member</h5>
  <% Request.last.member.membership_application.attachments.each do |attachment| %>
      <div class="col-md-4 col-sm-6">
        <%= link_to  (image_tag attachment.file_attachment.url(:small)), attachment.file_attachment.url %><br/>
        <strong><%=  attachment.attachment_type%></strong>
      </div>
  <% end -%>
</div>
<div class="container"></div>

<div class="form-actions">
<br/>
  <%= link_to t('.back', :default => t("helpers.links.back")), requests_path, :class => 'btn'  %>
  <%= link_to 'Accept', accept_request_path(@request), class: 'btn' %>
  <% if current_user.role == "Admin" %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_request_path(@request), :class => 'btn btn-primary' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")), request_path(@request), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger' %>
  <% end -%>
<br/>
</div>
<div class=""><br/></div>
