<%= form_for @degree, :html => { :class => 'form-horizontal' } do |f| %>

  <% if @degree.errors.any? %>
    <strong><%= @degree.errors.count %> errors detected.</strong>
    <ul>
    <% @degree.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

  <div class="form-group col-md-12">
    <%= f.label :membership_application_id, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <input type="text" id="degree_membership_application" name="degree[membership_application_id]" value="<%= @degree.membership_application.name if @degree.membership_application.present? %>" class="form-control" readonly>
    </div>
  </div>

  <div class="form-group col-md-12">
    <%= f.label :degree_title, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :degree_title, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group col-md-12">
    <%= f.label :degree_file, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.file_field :degree_file, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <!-- <%= link_to t('.cancel', :default => t("helpers.links.cancel")), degrees_path, :class => 'btn' %> -->
    <br/><br/>
  </div>
<% end %>
