<%- model_class = Degree -%>
<div class="page-header">
  <h4><%=t '.title', :default => model_class.model_name.human.pluralize %></h4>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:degree_title) %></th>
      <th><%= model_class.human_attribute_name(:membership_application_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @degrees.each do |degree| %>
      <tr>
        <td><%= link_to degree.id, degree_path(degree) %></td>
        <td><%= degree.degree_title %></td>
        <td><%= degree.membership_application_id %></td>
        <td><%=l degree.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_degree_path(degree), :class => 'btn btn-primary btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      degree_path(degree),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_degree_path,
            :class => 'btn btn-primary' %>
