<%- model_class = Degree -%>
<div class="">
	<%= image_tag 'mcpa_logo', style: "width:80px;", class:"pull-right" %> 
	<h4><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human, :default => "Degree for Membership application #{@degree.membership_application.name if @degree.membership_application.present? }") %></h4>
</div>
<div class="col-xs-12">
	<strong>Upload the profile picture for the membership.</strong>
</div>
<%= render :partial => 'form' %>
