      <p class="notice"><%= @notice %></p>
<%= form_for @permission, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @permission.errors.any? %>
    <strong><%= @permission.errors.count %> errors detected.</strong>
    <ul>
    <% @permission.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
  <div class="form-group ">
    <%= f.label :access_control_id, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.select(:access_control_id, AccessControl.all.collect {|a| [a.name, a.id]}, {include_blank: 'Choose Access Control'}, {class: 'form-control'}) %><!-- 
      <%= f.number_field :access_control_id, :class => 'form-control' %> -->
    </div>
  </div>

  <div class="form-group ">
    <%= f.label :user_id, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.select(:user_id, User.all.collect {|a| [a.id, a.id]}, { include_blank: "Choose User" },:class => 'form-control') %><!-- 
      <%= f.number_field :user_id, :class => 'form-control' %> -->
    </div>
  </div>

  <div class="form-actions ">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                permissions_path, :class => 'btn' %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
  
<% end %>
