  <%- model_class = Permission -%>
<div class="">
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_permission_path,
              :class => 'btn btn-primary btn-sm pull-right' %>
  <h4><%=t '.title', :default => model_class.model_name.human.pluralize %> <small>(<%= @permissions.count || 0 %>) found.</small></h4>
</div>

      <% if @permissions.present? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:access_control_id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @permissions.each do |permission| %>
      <tr>
        <td><%= permission.access_control.name if permission.access_control_id.present? %></td>
        <td><%= permission.user if permission.user_id.present? %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      permission_path(permission), :class => 'btn btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_permission_path(permission), :class => 'btn btn-primary btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      permission_path(permission),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div align="center">
  <%= will_paginate @permissions %>
</div>
      <% else %>
<div class="alert alert-info">No data found.</div>
      <% end -%>
