<%= form_for @api_key, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @api_key.errors.any? %>
    <strong><%= @api_key.errors.count %> errors detected. </strong>
    <ul>
    <% @api_key.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label' %>
    <%= f.text_field :email, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label' %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :phone, :class => 'control-label' %>
    <%= f.text_field :phone, :class => 'form-control' %>
  </div>

  <div class="form-actions">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                api_keys_path, :class => 'btn' %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
