<%- model_class = ApiKey -%>
<div class="page-header">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_api_key_path,
            :class => 'btn btn-primary btn-sm pull-right' %>
  <h4><%=t '.title', :default => model_class.model_name.human.pluralize %> <small>(<%= @api_keys.count || 0 %>) found.</small></h4>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:key) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @api_keys.each do |api_key| %>
      <tr>
        <td><%= api_key.key %></td>
        <td><%= api_key.email %></td>
        <td><%= api_key.name %></td>
        <td><%= api_key.phone %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      api_key_path(api_key), :class => 'btn btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_api_key_path(api_key), :class => 'btn btn-primary btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      api_key_path(api_key),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

