
<div class="">
	<%= link_to "Export Excel for #{@organization.short_name}",  organization_lvl_report_path(request.parameters.merge({format: :xlsx})),  download: 'organization_lvl_report.xlsx', class: 'pull-right' %>
	<h4>Report for <%= @organization.organization_name %></h4>
</div>

<div class="col-md-12">
	<h5>Total Number of New Members</h5>
	<table class="table table-hover">
		<tr>
			<th>Months</th>
			<th>Student Member</th>
			<th>Associate Member</th>
			<th>Professional Member</th>
			<th>Fellow Member</th>
			<th>Total Member</th>
			<!-- <th>Total Member Fees</th> -->
		</tr>
<% @new_members.each do |key, value| %>
		<tr>
			<td><%= key %></td>
			<td><%= value["SM"] %></td>
			<td><%= value["AM"] %></td>
			<td><%= value["PM"] %></td>
			<td><%= value["FM"] %></td>
			<td><%= value["SM"]+ value["AM"]+ value["PM"] + value["FM"] %></td>
			<!-- <td><%= value["SM"] * 3500 + value["AM"] * 7000 + value["PM"] * 10000 %></td> -->
		</tr>
<% end %>
	</table>
</div>

 
<div class="col-md-12">
	<h5>Total Number of Upgraded Members</h5>
	<table class="table table-hover">
		<tr>
			<th>Monhts</th>
			<th>Student Member to Associate Member</th>
			<th>Associate Member to Professional Member</th>
			<th>Professional Member to Fellow Member</th>
			<!-- <th>Total Member Fees</th> -->
		</tr>
<% @upgraded_members.each do |key, value| %>
		<tr>
			<td><%= key %></td>
			<td><%= value["sm_to_am"] %></td>
			<td><%= value["am_to_pm"] %></td>
			<td><%= value["pm_to_fm"] %></td>
			<!-- <td></td> -->
		</tr>
<% end %>
	</table>
</div>


<div class="col-md-12">
	<h5>Total Number of Members who Extend Memberships</h5>
	<table class="table table-hover">
		<tr>
			<th>Months</th>
			<th>Student Member</th>
			<th>Associate Member</th>
			<th>Professional Member</th>
			<th>Fellow Member</th>
			<!-- <th>Total Member</th> -->
		</tr>
<% @extended_members.each do |key, value| %>
		<tr>
			<td><%= key %></td>
			<td><%= value["SM"] %></td>
			<td><%= value["AM"] %></td>
			<td><%= value["PM"] %></td>
			<td><%= value["FM"] %></td>
			<!-- <td><%= value["SM"]+ value["AM"]+ value["PM"] + value["FM"] %></td> -->
		</tr>
<% end %>
	</table>
</div>

<div class="container"><br/></div>