      <p class="notice"><%= @notice %></p>
<%= form_for @committee, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @committee.errors.any? %>
    <strong><%= @committee.errors.count %> errors detected.</strong>
    <ul>
    <% @committee.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :organization_id, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.select :organization_id, @organizations.collect {|o| [o.organization_name, o.id]}, {include_blank: 'Choose an organization'}, {class: 'form-control'} %>
      <!-- <%= f.number_field :organization_id, :class => 'form-control' %> -->
    </div>
  </div>

  <div class="form-actions">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                committees_path, :class => 'btn' %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
