<%- model_class = Committee -%>
<div class="">
  <% unless current_user.role == 'Member' %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_committee_path,
                :class => 'btn btn-primary btn-sm pull-right' %>
  <% end %>
  <h4><%=t '.title', :default => model_class.model_name.human.pluralize %> <small>(<%= @committees.count || 0 %>) found.</small></h4>
</div>

<% unless current_user.role == 'Member' %>
  <div class="alert alert-warning">Click the 'FILTER' button.</div>
  <div class="row" style="margin-bottom: -15px;" >
      <% if current_user.role == 'Admin' %>
          <%= form_tag "/committees", method: 'get' do %>
              <div class="col-sm-5">
                  <%= text_field_tag :search_by, params[:search_by], placeholder: 'Filter by Committee Name', autocomplete: :off, class: 'form-control input-sm' %>
              </div>
                <div class="col-sm-4">
                    <%= select_tag :select_organization, options_for_select(Organization.all.collect{|o| [o.organization_name, o.id]}), {class: "form-control input-sm", include_blank: "Choose Organization"} %>
                </div>
              <div class="col-sm-1 pull-right">
                  <%= submit_tag "Filter", :name=> nil, class: "btn btn-primary btn-sm pull-right" %>
              </div>
          <% end %>
      <% end -%>
  </div>
<% end %>

<% if @committees.present? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:organization_id) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @committees.each do |committee| %>
          <tr>
            <td><%= committee.name %></td>
            <td><%= committee.organization.organization_name if committee.organization.present? %></td>
            <td>
              <% unless current_user.role == 'Member' %>
                <%= link_to t('.show', :default => t("helpers.links.show")),
                            committee_path(committee), :class => 'btn btn-xs' %>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_committee_path(committee), :class => 'btn btn-primary btn-xs' %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")), committee_path(committee), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger btn-xs' if current_user.role == "Admin" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div align="center">
      <%= will_paginate @committees %>
    </div>
<% else %>
  <br/>
    <div class="alert alert-info">No data found.</div>
<% end -%>