<div>
    <br/>
    <br/>
    <h4>Log in</h4>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group col-md-12">
        <%= f.label :email, class: 'control-label col-md-2' %>
        <div class="col-md-4">
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group col-md-12">
        <%= f.label :password, class: 'control-label col-md-2' %>
        <div class="col-md-4">
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>
      </div>
<!-- 
      <% if devise_mapping.rememberable? -%>
        <div class="form-group col-md-12">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class: 'control-label'  %>
        </div>
      <% end -%>
-->

      <div class="form-group col-md-12">
        <%= link_to 'Not Register Yet?', new_application %>
      </div>


      <div class="form-actions col-md-12">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
</div>