      <p class="notice"><%= @notice %></p>
<%= form_for @township, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @township.errors.any? %>
    <strong><%= @township.errors.count %> errors detected.</strong>
    <ul>
    <% @township.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

  <div class="form-group ">
    <%= f.label :division, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :division, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group ">
    <%= f.label :state_id, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.number_field :state_id, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group ">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group ">
    <%= f.label :name_mm, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :name_mm, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-actions ">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                townships_path, :class => 'btn' %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>

<% end %>
