<%- model_class = Township -%>
<div class="">
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_township_path,
            :class => 'btn btn-primary btn-sm pull-right' %>
  <h4><%=t '.title', :default => model_class.model_name.human.pluralize %> <small>(<%= @townships.count || 0 %>) found.</small></h4>
</div>
  
      <% if @townships.present? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:division) %></th>
      <th><%= model_class.human_attribute_name(:state_id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:name_mm) %></th>
    </tr>
  </thead>
  <tbody>
    <% @townships.each do |township| %>
      <tr>
        <td><%= township.division %></td>
        <td><%= township.state_id %></td>
        <td><%= township.name %></td>
        <td><%= township.name_mm %></td>
        <% unless current_user.role != "Admin" %>
            <td>
              <%= link_to t('.show', :default => t("helpers.links.show")),
                          township_path(township), :class => 'btn btn-xs' %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_township_path(township), :class => 'btn btn-primary btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          township_path(township),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-danger btn-xs' %>
            </td>
        <% end -%>
      </tr>
    <% end %>
  </tbody>
</table>

<div align="center">
  <%= will_paginate @townships %>
</div>
      <% else %>
<div class="alert alert-info">No data found.</div>
      <% end -%>
