<p class="notice"><%= @notice %></p>

<%= form_for @photo, :html => { :class => 'form-horizontal' } do |f| %>
  
  <div class="form-group col-md-12">
    <%= f.label :membership_application_id, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <input type="text" id="photo_membership_application" name="photo[membership_application_id]" value="<%= @photo.membership_application.name if @photo.membership_application.present? %>" class="form-control" readonly>
    </div>
  </div>
  <div class="form-group col-md-12">
    <%= f.label :avatar, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.file_field :avatar, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-actions col-md-12">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <!-- <%= link_to t('.cancel', :default => t("helpers.links.cancel")), photos_path, :class => 'btn' %> -->
<br/>
<br/>
  </div>
<% end %>
