<%- model_class = Photo -%>
<div class="page-header">
  <h4><%=t '.title', :default => model_class.model_name.human %></h4>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:avatar_file_name) %>:</strong></dt>
  <dd><%= @photo.avatar_file_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:avatar_content_type) %>:</strong></dt>
  <dd><%= @photo.avatar_content_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:avatar_file_size) %>:</strong></dt>
  <dd><%= @photo.avatar_file_size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:avatar_updated_at) %>:</strong></dt>
  <dd><%= @photo.avatar_updated_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:membership_application_id) %>:</strong></dt>
  <dd><%= @photo.membership_application_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")), photos_path, :class => 'btn'  %>
  <!-- <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_photo_path(@photo), :class => 'btn btn-primary' %> -->
  <!-- <%= link_to t('.destroy', :default => t("helpers.links.destroy")), photo_path(@photo), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger' %> -->
</div>
<br/>
