/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require_self
 */


@font-face{
    font-family:'Pyidaungsu';
    src:local('Pyidaungsu-2.1_Regular'), 
    url(/fonts/Pyidaungsu-2.1_Regular.woff) format('woff'), 
    url(/fonts/Pyidaungsu-2.1_Regular.ttf) format('ttf');
}
@font-face{
    font-family:'Pyidaungsu-Bold';
    src:local('Pyidaungsu-2.1_Bold'), 
    url(/fonts/Pyidaungsu-2.1_Bold.woff) format('woff'), 
    url(/fonts/Pyidaungsu-2.1_Bold.ttf) format('ttf');
}

body,textarea,input,html,li,ul,ol,p,div,span,table,tr,td,* {
    font-family: 'Pyidaungsu', Myanmar3, Yunghkio !important;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Pyidaungsu-Bold', Myanmar3, Yunghkio !important;
    font-weight:bold;
}


body {
	/*max-width: 1024px;*/
}

li a {
	color: red;
}
hr {
    margin-top: 10px;
}
table {
    margin-top: 5px;
    margin-bottom: 20px;
}

.row{
    /*border: 1px solid black;*/
}

.footer {
	background-color: #21409a !important;
	text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 200px;
}
.footer a{
	color: white;
}


.body-box{
    /*border: 2px solid black;*/
	padding-top: 15px;
}

.clearfix:before, .clearfix:after{
    content: " ";
    display: table;
}
.clearfix:after{
    clear: both;
}
fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove ;
}

legend {
	padding-left: 10px;
}


#btn_rnr{
    border-radius: 3px;
}
#apply_table{
    padding: 5px;
}
#btn_adv_info{
    text-decoration: none;
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    /*border is optional*/
    border-bottom:1px solid #444; 
    cursor: pointer;
}