      <p class="notice"><%= @notice %></p>
<%= form_for @organization, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @organization.errors.any? %>
    <strong><%= @organization.errors.count %> errors detected.</strong>
    <ul>
    <% @organization.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
  
  <div class="form-group ">
    <%= f.label :organization_name, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
	    <%= f.text_field :organization_name, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group ">
    <%= f.label :email, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
  </div>


  <div class="form-group ">
    <%= f.label :short_name, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :short_name, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group ">
    <%= f.label :country, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :country, {:class => 'form-control'} %>
    </div>
  </div>

  <div class="form-group ">
    <%= f.label :state_id, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.select :state_id, State.order(:name).collect{ |s| [s.name, s.id] } , {include_blank: 'Choose a region'}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-actions ">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                organizations_path, :class => 'btn' %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>

<% end %>
