<%- model_class = Organization -%>
<div class="">
  <% unless current_user.role == 'Member' %>
    <%= link_to t('.new', :default => t("helpers.links.new")), new_organization_path, :class => 'btn btn-primary btn-sm pull-right' if current_user.role == 'Admin' %>
  <% end %>
  <h4><%=t '.title', :default => model_class.model_name.human.pluralize %></h4>
</div>

      <% if @organizations.present? %>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:organization_name) %></th>
      <th><%= model_class.human_attribute_name(:short_name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:region) %></th>
      <th>Member Count</th>
      <th>Committee Count</th>
      <th>Ecmember Count</th>
      <th>Committee Member Count</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.organization_name %></td>
        <td><%= organization.short_name %></td>
        <td><%= organization.email %></td>
        <td><%= organization.state.name if organization.state.present? %></td>
        <td><%= organization.members.count if organization.members.present? %></td>
        <td><%= organization.committees.count if organization.committees.present? %></td>
        <td><%= organization.ecmembers.count if organization.ecmembers.present? %></td>
        <td><%= organization.committee_members.count if organization.committee_members.present? %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_organization_path(organization), :class => 'btn btn-primary btn-xs' if current_user.role == "Head" || current_user.role == 'Admin' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")), organization_path(organization), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger btn-xs' if current_user.role == "Admin" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div align="center">
  <%= will_paginate @organizations %>
</div>
      <% else %>
<div class="alert alert-info">No data found.</div>
      <% end -%>

