      <p class="notice"><%= @notice %></p>
<%= form_for @member_datum, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @member_datum.errors.any? %>
    <strong><%= @member_datum.errors.count %> errors detected.</strong>
    <ul>
    <% @member_datum.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :member_id, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.select :member_id, Member.all.collect{|m| [m.name, m.id]}, {include_blank: 'Choose a member'}, {class: 'form-control'} %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :date, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <input type="text" id="date" name="member_datum[date]" class="form-control input-sm">
    </div>
  </div>

  <div class="form-group">
    <%= f.label :content_catagory, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
        <%= text_field_tag :content_catagory, params[:content_catagory] , class: "form-control", list: "state", placeholder: "content_catagory", :autocomplete => :off %>
        <datalist id="state">
            <% MemberDatum.select(:content_catagory).distinct.each do |x| %>
            <option value="<%= x.content_catagory %>"></option>
            <% end %>
        </datalist><!-- 
      <%= f.text_field :content_catagory, :class => 'form-control' %> -->
    </div>
  </div>

  <div class="form-actions">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                member_data_path, :class => 'btn' %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>


<script >
  $(document).ready(function() {

    $( "#date" ).datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: '1950:2010',
        dateFormat: "dd-mm-yy"
    });
    $( "#date" ).datepicker( "setDate", new Date());
  });
</script>