<%- model_class = MemberDatum -%>
<div class="">
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_member_datum_path,
            :class => 'btn btn-primary btn-sm pull-right' %>
  <h4><%=t '.title', :default => model_class.model_name.human.pluralize %> <small>(<%= @member_data.count || 0 %>) found.</small></h4>
</div>

      <% if @member_data.present? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:member) %></th>
      <th><%= model_class.human_attribute_name(:content_catagory) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @member_data.each do |member_datum| %>
      <tr>
        <td><%= member_datum.title %></td>
        <td><%= member_datum.description %></td>
        <td><%= member_datum.member.name if member_datum.member.present? %></td>
        <td><%= member_datum.content_catagory %></td>
        <td><%= member_datum.date %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      member_datum_path(member_datum), :class => 'btn btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_member_datum_path(member_datum), :class => 'btn btn-primary btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")), member_datum_path(member_datum), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger btn-xs' if current_user.role == 'Admin' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div align="center">
  <%= will_paginate @member_data %>
</div>
      <% else %>
<div class="alert alert-info">No data found.</div>
      <% end -%>