<!DOCTYPE html>
<html>
    <head>
        <title>MCPA</title>
        <%= csrf_meta_tags %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_link_tag    'paper', media: 'all' %>
        <%= javascript_include_tag 'paper' %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>


        <!-- For Date Picker jquery -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <!-- For Date Picker jquery -->
<style>
h4{
    color: #21409a;
    font-weight:bold;
}
h5{
    color: #21409a;
}
h6{
    color: #182f70;
}
.container{
    padding: 0px 40px 0px 40px;
}
</style>
    </head>
	
    <body style="background-color: #21409a !important">
        <div class="container" style="background-color:#fff;">
        <%= yield %>
        </div>
            <br/>
            <br/>
            <br/>
            <br class="visible-xs" />
        <div class="col-lg-12 col-md-12 footer" style="color:#fff;">
            <br/>
            &copy; 2017-2018 &dash; <%= link_to "Myanmar Computer Professional Association", "http://mcpamyanmar.org/"%>
            <br/>
            <br/>
        </div>
    </body>
</html>
