<!DOCTYPE html>
<html>
    <head>
        <title>McpaMemberSystem</title>
        <%= csrf_meta_tags %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_link_tag    'paper', media: 'all' %>
        <%= javascript_include_tag 'paper' %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>


        <!-- For Date Picker jquery -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <!-- For Date Picker jquery -->
    </head>

	
    <body style="background-color: #21409a !important">
        <div class="row" style="background-color:#fff;">
        <%= yield %>
        </div>
        <div class="col-lg-12 col-md-12 footer" style="color:#fff;text-align:left;">
            <br/>
            &copy; 2017-2018 &dash; <%= link_to "Myanmar Computer Professional Association", "http://mcpamyanmar.org/"%>
            <br/>
            <br/>
        </div>
    </body>
</html>
