<!DOCTYPE html>
<html>
  <head>
    <title>McpaMemberSystem</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'paper', media: 'all' %>
    <%= javascript_include_tag 'paper' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Pie chart -->
    <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
    <%= javascript_include_tag 'application', "chartkick" %>
    <!-- Pie chart -->

    <!-- For Date Picker jquery -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- For Date Picker jquery -->

    <link rel="stylesheet" href='http://mmwebfonts.comquas.com/fonts/?font=myanmar3' />
    <style>
        body{

          font-family:Myanmar3,Yunghkio !important;
        }
        .mymyanmar {
            font-family:"MyMyanmar Universal",Myanmar3,Yunghkio,'Masterpiece Uni Sans';
            font-size: 24px;
        }
    </style>
  </head>

  <body>
  <div class="container-fluid">
    <% if user_signed_in? %>
        <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <a href="/" class="navbar-brand"><%= current_user.member.organizations.last.organization_name if current_user.role == "Member" && current_user.member.organizations.present? %> 
            <%= image_tag 'mcpa_logo', style: 'width: 50px;' unless current_user.role == "Member" %>
            </a>
            <div class=" pull-right">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
              </div>
            </div>
            <div class="collapse navbar-collapse">
              <div class="visible-xs" style="margin-top: 50px;"></div>
                <ul class="nav navbar-nav">
                    <li><a href="/d/announcements" style="color: white;" >Announcements</a></li>
                    <!-- <li><a href="/events" style="color: white;" >Events</a></li> -->
                    <li><a href="/d/attachments" style="color: white;" >Attachments</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown_toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: white;">My Organization <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <!-- <li><a href="/d/committees">Committees</a></li> -->
                        <!-- <li><a href="/d/committee_members">Committee Members</a></li> -->
                        <!-- <li><a href="/d/ecmembers">Ecmembers</a></li> -->
                        <li><a href="/d/organizations">Organizations</a></li>
                        <li><a href="/d/members">Members</a></li>
                      </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="ture" aria-expanded="false" style="color: white;"><%= (current_user.member.name) if current_user.member.present? || current_user.email %><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <!-- # Passing member_no instead of member id for security -->
                        <li><%= link_to 'Member Information', "/d/member_information?member_id=#{current_user.member.member_no}" %></li>
                        <li><%= link_to "Extend Membership", "/memberships/#{current_user.member.memberships.last.id}/extend" unless current_user.member.memberships.last.grade == "Fellow Member" %></li>
                        <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
                        <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete%></li>
                      </ul>
                    </li>
                </ul>
            </div> 
        </div>
        </nav>
    <% end %>
    <div class="body-box">
        <br/><br/> <br/>
        <% if notice.present? %>
          <p class="alert alert-info"><%= notice %></p>
        <% end -%>
        <%= yield %>
        <br/><br/><br/>
    </div>
  </div>

    <% if user_signed_in? %>
      <br/><br/>
      <div class="col-lg-12 col-md-12 footer">
        <br/>
        <%= link_to "Myanmar Computer Professionals Association.", "http://mcpamyanmar.org/"%>
        <br/><br/>
      </div>
    <% end %>
  </body>
</html>
