<!DOCTYPE html>
<html>
  <head>
    <title>McpaMemberSystem</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'paper', media: 'all' %>
    <%= javascript_include_tag 'paper' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Pie chart -->
    <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
    <%= javascript_include_tag 'application', "chartkick" %>
    <!-- Pie chart -->

    <!-- For Date Picker jquery -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- For Date Picker jquery -->

    <link rel="stylesheet" href='http://mmwebfonts.comquas.com/fonts/?font=myanmar3' />
    <style>
    body{

      font-family:Myanmar3,Yunghkio !important;
    }

    .mymyanmar {
        font-family:"MyMyanmar Universal",Myanmar3,Yunghkio,'Masterpiece Uni Sans';
        font-size: 24px;
    }
    </style>
  </head>

  <body>
  <div class="container-fluid">
    <% if user_signed_in? %>
      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
      
            <a href="/" class="navbar-brand hidden-xs hidden-sm"><%= current_user.staff.organization.organization_name if current_user.role == "Staff" %> </a>
            <a href="/" class="navbar-brand hidden-md hidden-lg"><%= current_user.staff.organization.short_name if current_user.role == "Staff" %> </a>
            <% if current_user.role == "Admin" %>
              <a href="/" class="navbar-brand"><%= image_tag 'mcpa_logo', style: 'width: 50px;', class: 'visible' %></a>
            <% end -%>
            <div class=" pull-right">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-collapse">
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                  </div>
            </div>

            <div class="collapse navbar-collapse">
              <div class="visible-xs" style="margin-top: 50px;"></div>
                <ul class="nav navbar-nav">
                    <li><a href="/announcements" >Announcements</a></li>
                    <!-- <li><a href="/events" >Events</a></li> -->
                    <% if current_user.role == "Admin" %><li><a href="/attachments" >Attachments</a></li> <% end -%>
                    <li class="dropdown">
                      <a href="#" class="dropdown_toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Organization <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/committees">Committees</a></li>
                        <li><a href="/organizations">Organizations</a></li>
                          <li role="separator" class="divider"></li>
                        <li><a href="/committee_members">Committee Members</a></li>
                        <li><a href="/ecmembers">Ecmembers</a></li>
                        <li><a href="/members">Members</a></li>
                      </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >Administration <span class="caret"></span></a>
                      <ul class="dropdown-menu">

                          <li><a href="/membership_applications" >Membership Applications</a></li>
                          <!-- <li><a href="/member_data" >Member Data</a></li> -->
                          <li><a href="/memberships" >Memberships</a></li>
                          <li role="separator" class="divider"></li>
                            <li><a href="/requests" >Requests</a></li>
                      <% if current_user.role == "Admin" || current_user.staff.organization.country.present? %>
                            <li><a href="/reports">Report</a></li>
                          <li role="separator" class="divider"></li>
                            <li><a href="/states">States</a></li>
                            <li><a href="/townships">Townships</a></li>
                      <% else %>
                            <li><a href="/organization_lvl_report">Report</a></li>
                            <!-- <li role="separator" class="divider"></li> -->
                            <!-- <li><a href="/permissions">Permissions</a></li> -->
                            <!-- <li><a href="/access_controls" >AccessControls</a></li> -->
                      <% end %>
                          <li role="separator" class="divider"></li>
                            <li><a href="/users">Users</a></li>
                            <li><a href="/staffs">Staffs</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="ture" aria-expanded="false"><%= current_user.email %><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <% if current_user.role == 'Member' %><li><%= link_to 'Membership Info', "/members/#{current_user.member.id}" %></li><% end %>
                        <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
                        <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete%></li>
                      </ul>
                    </li>
                </ul>
            </div>
            
      </div>
      </nav>
    <% end %>
    <div class="body-box">
      <br/>
      <br/>
      <br/>
        <% if notice.present? %>
          <p class="alert alert-info"><%= notice %></p>
        <% end -%>
        <!-- <div class="container-fluid"> -->
          <%= yield %>
      <br/>
      <br/>
          
        <!-- </div> -->
      <br/>
    </div>
  </div>

    <% if user_signed_in? %>
      <div class="col-lg-12 col-md-12 footer">
        <br/>
        <%= link_to "Myanmar Computer Professionals Association.", "http://mcpamyanmar.org/"%>
        <br/>
        <br/>
      </div>
    <% end %>
  </body>
</html>
