      <p class="notice"><%= @notice %></p>
<%= form_for @member, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @member.errors.any? %>
    <strong><%= @member.errors.count %> errors detected.</strong>
    <ul>
    <% @member.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
  <div class="form-group ">
    <%= f.label :certificates, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :certificates, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group ">
    <%= f.label :member_no, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :member_no, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group ">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group ">
    <%= f.label :burmese_name, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :burmese_name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group ">
    <%= f.label :dob, :class => 'control-label col-md-2' %>
    <div class="col-md-4"><!-- 
      <%= f.date_select :dob, :clas => 'form-control' %> -->
      <input type="text" id="member_dob_id" name="member[dob]" class="form-control input-sm">
    </div>
  </div>
  <div class="form-group ">
    <%= f.label :nrc, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :nrc, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group ">
    <%= f.label :phone, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :phone, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group ">
    <%= f.label :email, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group ">
    <%= f.label :father_name, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :father_name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group ">
    <%= f.label :address, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_area :address, :class => 'form-control', style: "max-width: 100%;" %>
    </div>
  </div>
  <div class="form-group ">
    <%= f.label :state, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.select("state", State.all.collect { |t| [t.name, t.name]}, {include_blank: 'Choose State'}, {class: 'form-control'}) %>
    </div>
  </div>
  <div class="form-group " >
    <%= f.label :township, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.select("township", Township.all.collect { |t| [t.name, t.name]}, {include_blank: 'Choose Township'}, {class: 'form-control'}) %>
    </div>
  </div>
  
  <div class="form-group ">
    <%= f.label :highest_education, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :highest_education, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group ">
    <%= f.label :areas_of_training, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :areas_of_training, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group ">
    <%= f.label :efficiencies, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :efficiencies, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group ">
    <%= f.label :areas_of_professional_working_experiences, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :areas_of_professional_working_experiences, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
      <%= f.label "World Member", :class=> 'control-label col-md-2' %> 
      <div class="col-md-4">
        <%= f.check_box :is_world_member %> 
      </div>
  </div>
  <div class="form-group">
      <%= f.label :remark, :class=> 'control-label col-md-2' %> 
      <div class="col-md-4">
      <%= f.text_field :remark, :class => 'form-control' %>
      </div>
  </div>
  <div class="form-actions ">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                members_path, :class => 'btn' %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
      <br/>
  
<% end %>

<script>
    $(document).ready(function() {

        $( "#member_dob_id" ).datepicker({
          dateFormat: "dd-mm-yy"
        });
        $( "#member_dob_id" ).datepicker( "setDate", new Date());
    });
</script>