<div class="container">
<div class="page-header">
	<h4>Uploading Member List CSV</h4>
</div>
<div class="col-lg-6col-md-6 col-sm-6">
	<%= form_tag({action: :member_list_csv_import}, multipart: true) do %>
		<%= select_tag(:state, options_for_select(State.order(:name).collect {|s| [s.name, s.id]}), {class: 'form-control', include_blank: 'choose state'}) %>
		<%= file_field_tag :csv, class: 'form-control' %>
		<br/>
		<%= submit_tag 'Upload CSV', class: 'form-action' %>
	<% end %>
</div>
</div>