<%- model_class = Member -%>
<div class="">
  <h4><%=t '.title', :default => model_class.model_name.human.pluralize %> <small>(<%= @members.count || 0 %>) found.</small></h4>
  <%= link_to "Export CSV", "/export-members.csv?url=#{request.url}" %>
</div>

<% unless current_user.role == "Member" %>
    <div class="alert alert-warning">Click the 'FILTER' button.</div>
    <div style="margin-bottom: -15px;" >
        <div class="row hidden-xs">
            <%= form_tag "/members", method: 'get' do %>
                <div class="col-sm-4">
                    <%= text_field_tag :search_by, params[:search_by], placeholder: 'Name/Phone/Email/NRC', autocomplete: :off, class: 'form-control input-sm' %>
                </div>
                <div class="col-sm-3">
                    <input type="text" id="date_search" name="date_search" class="form-control input-sm" placeholder="Expired Before" >
                </div>
                <div class="col-sm-2">
                    <%= select_tag 'grade_search', options_for_select(["Associate Member", "Student Member", "Professional Member", "Fellow Member"]), {:class => 'form-control input-sm', include_blank: 'Choose Grade'} %>
                </div>
                <% if current_user.role == "Admin" %>
                    <div class="col-sm-2">
                        <%= select_tag 'organization_search', options_from_collection_for_select(Organization.all, :id, :organization_name), {:class => 'form-control input-sm', include_blank: 'Choose Organization'} %>
                    </div>
                <% end -%>
                <div class="col-sm-1 pull-right">
                    <%= submit_tag "Filter", :name=> nil, class: "btn btn-primary btn-sm pull-right" %>
                    <!-- <input type="reset" id="btn_reset" value="reset" class="btn btn-sm"> -->
                    <br/>
                </div>
                <div id="advance_search" hidden >
                    <div class="form-group col-sm-12">
                        <h6>HIGHEST EDUCATION</h6>

                        <div class="col-sm-4">
                            <%= radio_button_tag(:highest_education, "post_graduate") %>
                            <%= label_tag(:education_post, "POST GRADUATE") %>
                        </div>
                        <div class="col-sm-4">
                            <%= radio_button_tag(:highest_education, "graduate") %>
                            <%= label_tag(:education_graduate, "GRADUATE") %>
                        </div>
                        <div class="col-sm-4">
                            <%= radio_button_tag(:highest_education, "under_graduate" ) %>
                            <%= label_tag(:education_under, "UNDER GRADUATE") %>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <h6>AREAS OF TRAINING</h6>

                        <div class="col-md-3 col-sm-4">
                                <%= check_box_tag(:training_programming, "PROGRAMMING" ) %>
                            <%= label_tag(:training_programming, "PROGRAMMING") %>
                        </div>
                        <div class="col-md-3 col-sm-4">
                                <%= check_box_tag(:training_software_engineering, "SOFTWARE ENGINEERING" ) %>
                            <%= label_tag(:training_software_engineering, "SOFTWARE ENGINEERING") %>
                        </div>
                        <div class="col-md-3 col-sm-4">
                                <%= check_box_tag(:training_database, "DATABASE" ) %>
                            <%= label_tag(:training_database, "DATABASE") %>
                        </div>
                        <div class="col-md-3 col-sm-4">
                                <%= check_box_tag(:training_networking, "NETWORKING" ) %>
                            <%= label_tag(:training_networking, "NETWORKING") %>
                        </div>
                        <div class="col-md-3 col-sm-4">
                                <%= check_box_tag(:training_web_development, "WEB DEVELOPMENT" ) %>
                            <%= label_tag(:training_web_development, "WEB DEVELOPMENT") %>
                        </div>
                        <div class="col-md-3 col-sm-4">
                                <%= check_box_tag(:training_operation_system, "OPERATION SYSTEMS" ) %>
                            <%= label_tag(:training_operation_system, "OPERATION SYSTEMS") %>
                        </div>
                        <div class="col-md-3 col-sm-4">
                                <%= check_box_tag(:training_graphic_design, "GRAPHIC DESIGN" ) %>
                            <%= label_tag(:training_graphic_design, "GRAPHIC DESIGN") %>
                        </div>
                        <div class="col-md-3 col-sm-4">
                                <%= check_box_tag(:training_multimedia, "MULTIMEDIA" ) %>
                            <%= label_tag(:training_multimedia, "MULTIMEDIA") %>
                        </div>
                        <div class="col-md-3 col-sm-4">
                                <%= check_box_tag(:training_hardware, "HARDWARE" ) %>
                            <%= label_tag(:training_hardware, "HARDWARE") %>
                        </div>
                        <div class="col-md-3 col-sm-4">
                                <%= check_box_tag(:training_mis, "MIS" ) %>
                            <%= label_tag(:training_mis, "MIS") %>
                        </div>
                    </div>     
                    <div class="form-group col-sm-12">
                        <h6>EFFICIENCIES</h6>

                        <div class="col-md-2 col-sm-4">
                                <%= check_box_tag(:efficiencies_pascal, "PASCAL" ) %>
                            <%= label_tag(:efficiencies_pascal, "PASCAL") %>
                        </div>
                        <div class="col-md-2 col-sm-4">
                                <%= check_box_tag(:efficiencies_cobol, "COBOL" ) %>
                            <%= label_tag(:efficiencies_cobol, "COBOL") %>
                        </div>
                        <div class="col-md-2 col-sm-4">
                                <%= check_box_tag(:efficiencies_assembly, "ASSEMBLY" ) %>
                            <%= label_tag(:efficiencies_assembly, "ASSEMBLY") %>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <%= check_box_tag(:efficiencies_c_c_plus_plus, "C/C++" ) %>
                            <%= label_tag(:efficiencies_c_c_plus_plus, "C/C++") %>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <%= check_box_tag(:efficiencies_basic, "BASIC" ) %>
                            <%= label_tag(:efficiencies_basic, "BASIC") %>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <%= check_box_tag(:efficiencies_visual_basic, "VISUAL BASIC" ) %>
                            <%= label_tag(:efficiencies_visual_basic, "VISUAL BASIC") %>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <%= check_box_tag(:efficiencies_visual_c, "VISUAL C" ) %>
                            <%= label_tag(:efficiencies_visual_c, "VISUAL C") %>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <%= check_box_tag(:efficiencies_java, "JAVA" ) %>
                            <%= label_tag(:efficiencies_java, "JAVA") %>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <%= check_box_tag(:efficiencies_net, "NET" ) %>
                            <%= label_tag(:efficiencies_net, "NET") %>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <%= check_box_tag(:efficiencies_asp, "ASP" ) %>
                            <%= label_tag(:efficiencies_asp, "ASP") %>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <%= check_box_tag(:efficiencies_perl, "PERL" ) %>
                            <%= label_tag(:efficiencies_perl, "PERL") %>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <%= check_box_tag(:efficiencies_php, "PHP" ) %>
                            <%= label_tag(:efficiencies_php, "PHP") %>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <%= check_box_tag(:efficiencies_jsp, "JSP" ) %>
                            <%= label_tag(:efficiencies_jsp, "JSP") %>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <%= check_box_tag(:efficiencies_cold_fusion, "COLD FUSION"  ) %>
                            <%= label_tag(:efficiencies_cold_fusion, "COLD FUSION") %>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <%= check_box_tag(:efficiencies_html, "HTML" ) %>
                            <%= label_tag(:efficiencies_html, "HTML") %>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <%= check_box_tag(:efficiencies_linux, "LINUX" ) %>
                            <%= label_tag(:efficiencies_linux, "LINUX") %>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <%= check_box_tag(:efficiencies_windows, "WINDOWS" ) %>
                            <%= label_tag(:efficiencies_windows, "WINDOWS") %>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <%= check_box_tag(:efficiencies_apple, "APPLE" ) %>
                            <%= label_tag(:efficiencies_apple, "APPLE") %>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <%= check_box_tag(:efficiencies_unix, "UNIX" ) %>
                            <%= label_tag(:efficiencies_unix, "UNIX") %>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <%= check_box_tag(:efficiencies_database, "DATABASE" ) %>
                            <%= label_tag(:efficiencies_database, "DATABASE") %>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <%= check_box_tag(:efficiencies_sql, "SQL" ) %>
                            <%= label_tag(:efficiencies_sql, "SQL") %>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <%= check_box_tag(:efficiencies_access, "ACCESS") %>
                            <%= label_tag(:efficiencies_access, "ACCESS") %>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <%= check_box_tag(:efficiencies_flash, "FLASH" ) %>
                            <%= label_tag(:efficiencies_flash, "FLASH") %>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <%= check_box_tag(:efficiencies_multimedia, "MULTIMEDIA" ) %>
                            <%= label_tag(:efficiencies_multimedia, "MULTIMEDIA") %>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <%= check_box_tag(:efficiencies_web_design, "WEB DESIGN") %>
                            <%= label_tag(:efficiencies_web_design, "WEB DESIGN") %>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <%= check_box_tag(:efficiencies_video_audio, "VIDEO/ AUDIO") %>
                            <%= label_tag(:efficiencies_video_audio, "VIDEO/ AUDIO") %>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <%= check_box_tag(:efficiencies_hardware, "HARDWARE") %>
                            <%= label_tag(:efficiencies_hardware, "HARDWARE") %>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <%= check_box_tag(:efficiencies_networking, "NETWORKING") %>
                            <%= label_tag(:efficiencies_networking, "NETWORKING") %>
                        </div>
                    </div> 
                    <div class="fom-group col-sm-12">
                        <h6>AREAS OF PROFESSIONAL WORKING EXPERIENCE</h6>

                        <div class="col-md-3 col-sm-4">
                            <%= check_box_tag(:working_experience_programming, "PROGRAMMING" ) %>
                            <%= label_tag(:working_experience_programming, "PROGRAMMING") %>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <%= check_box_tag(:working_experience_software_engineering, "SOFTWARE ENGINEERING" ) %>
                            <%= label_tag(:working_experience_software_engineering, "SOFTWARE ENGINEERING") %>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <%= check_box_tag(:working_experience_analysis_and_design, "ANALYSIS & DESIGN" ) %>
                            <%= label_tag(:working_experience_analysis_and_design, "ANALYSIS & DESIGN") %>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <%= check_box_tag(:working_experience_quality_assurance, "QUALITY ASSURANCE" ) %>
                            <%= label_tag(:working_experience_quality_assurance, "QUALITY ASSURANCE") %>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <%= check_box_tag(:working_experience_multimedia, "MULTIMEDIA" ) %>
                            <%= label_tag(:working_experience_multimedia, "MULTIMEDIA") %>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <%= check_box_tag(:working_experience_web_development, "WEB DEVELOPMENT" ) %>
                            <%= label_tag(:working_experience_web_development, "WEB DEVELOPMENT") %>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <%= check_box_tag(:working_experience_customer_support, "CUSTOMER SUPPORT" ) %>
                            <%= label_tag(:working_experience_customer_support, "CUSTOMER SUPPORT") %>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <%= check_box_tag(:working_experience_graphic_design, "GRAPHIC DESIGN") %>
                            <%= label_tag(:working_experience_graphic_design, "GRAPHIC DESIGN") %>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <%= check_box_tag(:working_experience_is_it_manager, "IS/ IT MANAGER" ) %>
                            <%= label_tag(:working_experience_is_it_manager, "IS/ IT MANAGER") %>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <%= check_box_tag(:working_experience_orther_management, "OTHER MANAGEMENT" ) %>
                            <%= label_tag(:working_experience_orther_management, "OTHER MANAGEMENT") %>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <%= check_box_tag(:working_experience_instructor, "INSTRUCTOR") %>
                            <%= label_tag(:working_experience_instructor, "INSTRUCTOR") %>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <%= check_box_tag(:working_experience_database_administration, "DATABASE ADMINISTRATION" ) %>
                            <%= label_tag(:working_experience_database_administration, "DATABASE ADMINISTRATION") %>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <%= check_box_tag(:working_experience_system_maintanance, "SYSTEM MAINTANANCE" ) %>
                            <%= label_tag(:working_experience_system_maintanance, "SYSTEM MAINTANANCE") %>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <%= check_box_tag(:working_experience_systems_administration, "SYSTEMS ADMINISTRATION" ) %>
                            <%= label_tag(:working_experience_systems_administration, "SYSTEMS ADMINISTRATION") %>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <%= check_box_tag(:working_experience_network_administration, "NETWORK ADMINISTRATION" ) %>
                            <%= label_tag(:working_experience_network_administration, "NETWORK ADMINISTRATION") %>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <%= check_box_tag(:working_experience_network_engineering, "NETWORK ENGINEERING" ) %>
                            <%= label_tag(:working_experience_network_engineering, "NETWORK ENGINEERING") %>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <%= check_box_tag(:working_experience_research_and_development, "RESEARCH & DEVELOPMENT" ) %>
                            <%= label_tag(:working_experience_research_and_development, "RESEARCH & DEVELOPMENT") %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="col-sm-12">
            <button id="btn_advance" style="border: none; background-color: transparent; color: blue; " class="pull-right">Advance Search</button>
            <hr/>
        </div>
    </div>
<% end %>

<% if @members.present? %>
        <table class="table table-striped table-hover table-condensed">
          <thead>
            <tr>
              <th><%= model_class.human_attribute_name(:member_no) %></th>
              <th><%= model_class.human_attribute_name(:name) %></th>
                <th>Highest Education</th>
                <th><%= model_class.human_attribute_name(:grade) %></th>
              <% unless current_user.role == "Member" %>
                  <th><%= model_class.human_attribute_name(:email) %></th>
                  <th><%= model_class.human_attribute_name(:phone) %></th>
                  <th><%= model_class.human_attribute_name(:acceptance_date) %></th>
                  <th><%= model_class.human_attribute_name(:valid_till) %></th>
                  <th><%= model_class.human_attribute_name(:organization) %></th>
              <% end -%>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @members.each do |member| %>
              <tr>
                <td><%= member.member_no %></td>
                <td><%= member.name %></td>
                <td><%= member.highest_education %></td>
                <td><%= member.memberships.first.grade if member.memberships.present? %></td>
                <% unless current_user.role == "Member" %>
                    <td><%= member.email %></td>
                    <td><%= member.phone %></td>
                    <td><%= member.acceptance_date %></td>
                    <td><%= member.memberships.first.valid_till if member.memberships.present? %></td>
                    <% if member.memberships.any? %>
                      <% if member.memberships.first.organization.present? %>
                        <td><%= member.memberships.first.organization.organization_name %></td>
                      <% else %>
                        <td></td>
                      <% end %>
                    <% else %>
                      <td></td>
                    <% end %>
                <% end -%>
                <td>
                  <% unless current_user.role == 'Member' %>
                    <%= link_to t('.show', :default => t("helpers.links.show")), member_path(member), :class => 'btn btn-xs' %>
                    <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_member_path(member), :class => 'btn btn-primary btn-xs'%>
                    <%= link_to t('.destroy', :default => t("helpers.links.destroy")), member_path(member), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger btn-xs' if current_user.role == 'Admin' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div align="center">
          <%= will_paginate @members %>
        </div>
<% else %>
        <br/>
        <br/>
        <div class="alert alert-info">No data found.</div>
<% end -%>

<script type="text/javascript">
    $(document).ready(function() {

        $( "#date_search" ).datepicker({
            // changeMonth: true,
            // changeYear: true,
            // yearRange: '2017:2050',
            dateFormat: "dd-mm-yy"
        });
        // $( "#date_search" ).datepicker( "setDate", new Date());

        $('#btn_advance').click(function(){
            $('#advance_search').toggle();
        });
    });
</script>