<%- model_class = Member -%>
<div class="page-header">
  <h4><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                   :default => "Edit #{model_class.model_name.human}") %></h4>
</div>
<div class="container-fluid">
    <p class="notice"><%= @notice %></p>
    <%= form_for "", :html => { :class => 'form-horizontal'} do |f| %>
      <% if @member.errors.any? %>
        <strong><%= @member.errors.count %> errors detected.</strong>
        <ul>
        <% @member.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      <% end %>

      <div class="form-group ">
        <%= f.label :name, :class => 'control-label col-md-2' %>
        <div class="col-md-4">
          <%= f.text_field :name,value: "#{@member.name}", :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group ">
        <%= f.label :burmese_name, :class => 'control-label col-md-2' %>
        <div class="col-md-4">
          <%= f.text_field :burmese_name,value: "#{@member.burmese_name}", :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group ">
        <%= f.label :dob, :class => 'control-label col-md-2' %>
        <div class="col-md-4"><!-- 
          <%= f.date_select :dob, :clas => 'form-control' %> -->
          <input type="text" id="dob_id" name="dob" class="form-control input-sm">
        </div>
      </div>
      <div class="form-group ">
        <%= f.label :nrc, :class => 'control-label col-md-2' %>
        <div class="col-md-4">
          <%= f.text_field :nrc,value: "#{@member.nrc}", :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group ">
        <%= f.label :father_name, :class => 'control-label col-md-2' %>
        <div class="col-md-4">
          <%= f.text_field :father_name,value: "#{@member.father_name}", :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group ">
        <%= f.label :phone, :class => 'control-label col-md-2' %>
        <div class="col-md-4">
          <%= f.text_field :phone,value: "#{@member.phone}", :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group ">
        <%= f.label :email, :class => 'control-label col-md-2' %>
        <div class="col-md-4">
          <%= f.text_field :email,value: "#{@member.email}", :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group ">
        <%= f.label :address, :class => 'control-label col-md-2' %>
        <div class="col-md-4">
          <%= f.text_area :address, :class => 'form-control', style: "max-width: 100%;" %>
        </div>
      </div>


      <div class="form-group ">
        <%= f.label :highest_education, :class => 'control-label col-md-2' %>
        <div class="col-md-4">
          <%= f.text_field :highest_education,value: "#{@member.highest_education}", :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group ">
        <%= f.label :certificates, :class => 'control-label col-md-2' %>
        <div class="col-md-4">
          <%= f.text_field :certificates,value: "#{@member.certificates}", :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group ">
        <%= f.label :areas_of_training, :class => 'control-label col-md-2' %>
        <div class="col-md-4">
          <%= f.text_field :areas_of_training,value: "#{@member.areas_of_training}", :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group ">
        <%= f.label :efficiencies, :class => 'control-label col-md-2' %>
        <div class="col-md-4">
          <%= f.text_field :efficiencies,value: "#{@member.efficiencies}", :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group ">
        <%= f.label :areas_of_professional_working_experiences, :class => 'control-label col-md-2' %>
        <div class="col-md-4">
          <%= f.text_field :areas_of_professional_working_experiences,value: "#{@member.areas_of_professional_working_experiences}", :class => 'form-control' %>
        </div>
      </div>

      <div class="form-actions ">
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    members_path, :class => 'btn' %>
        <%= f.submit nil, :class => 'btn btn-primary' %>
      </div>
    <% end %>
</div>


<script>
    $(document).ready(function() {

        $( "#member_dob_id" ).datepicker({
          dateFormat: "dd-mm-yy"
        });
        $( "#member_dob_id" ).datepicker( "setDate", new Date());
    });
</script>