<%= form_for @committee_member, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @committee_member.errors.any? %>
    <strong><%= @committee_member.errors.count %> errors detected.</strong>
    <ul>
    <% @committee_member.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% elsif @notice.present? %>
    <div class="alert alert-warning"><%= @notice %></div>
  <% end %>
  <div class="form-group">
    <%= f.label :organization_id, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.select(:organization_id, @organizations.all.collect{|o| [o.organization_name, o.id]}, {include_blank: 'Choose An Organization'}, class: 'form-control')%>
    </div>
  </div>

  <div class="form-group ">
    <%= f.label :committee_id, :class => 'control-label col-md-2' %>
    <div class="col-md-4">

    <% if current_user.role == "Admin" %>
      <%= f.select(:committee_id, Committee.all.collect{|c| [c.name, c.id]}, {include_blank: 'Choose An Committee'}, class: 'form-control') %>
    <% else %>
      <%= f.select(:committee_id, @committees.collect{|c| [c.name, c.id]}, {include_blank: 'Choose An Committee'}, class: 'form-control') %>
    <% end -%>
      <!-- <%= f.select('committee_id', ["Education", "Technology", "Examination", "Competition", "Administration", "Member Affairs", "Information & PR",  "International Relations"],{include_blank: 'Choose Committee'}, {class: 'form-control'} ) %> -->
    </div>
  </div>
  <div class="form-group">
    <%= f.label :member_id, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.select(:member_id, @members.collect{|m| [m.name, m.id]}, {include_blank: 'Choose A Member'}, class: 'form-control') %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :role, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.select(:role, ["Chair", "Member"], {include_blank: 'Choose a Role'}, class: 'form-control') %>
    </div>
  </div>

  <div class="form-group ">
    <%= f.label :year, :class => 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.text_field :year, value: '2016-2017', class: 'form-control' %>
      <!-- <%= f.select :year, (2015..2017).each {|x| x}, {include_blank: 'Choose Year'}, {class: 'form-control'} %> -->
      <br/>
    </div>
  </div>

  <div class="form-actions">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                committee_members_path, :class => 'btn' %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>

<div class="container"><br/></div>
