<%- model_class = CommitteeMember -%>
<div class="">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_committee_member_path,
            :class => 'btn btn-primary btn-sm pull-right' %>
  <h4><%=t '.title', :default => model_class.model_name.human.pluralize %> <small>(<%= @committee_members.count || 0 %>) found.</small></h4>
  <%= link_to "Export CSV", "/export-committee_members.csv?url=#{request.url}" %>
</div>

<% if current_user.role != 'Member' %>
    <div class="alert alert-warning">Click the 'FILTER' button.</div>
    <div class="row" style="margin-bottom: -15px;" >
        <%= form_tag "/committee_members", method: 'get' do %>
          <div class="col-sm-5 col-xs-12">
              <%- placeholder = 'Filter by Name' %>
              <%= text_field_tag :search_by, params[:search_by], placeholder: "#{placeholder}", autocomplete: :off, class: 'form-control input-sm' %>
          </div>
          <div class="col-sm-3 col-xs-12">
            <%= select_tag :search_role, options_for_select(CommitteeMember.select(:role).distinct.collect {|ecm| ecm.role }), {class: 'form-control input-sm', include_blank: "Choose Role"} %>
          </div>
          <div class="col-sm-3 col-xs-12">
            <%= select_tag :search_year, options_for_select(CommitteeMember.select(:year).distinct.collect {|ecm| ecm.year }), {include_blank: 'Choose Year', class: 'form-control input-sm'} %>
          </div>
          <div class="col-sm-1 col-xs-12">
            <%= submit_tag "Filter", :name=> nil, class: "btn btn-primary btn-sm pull-right" %>
          </div>
        <% end %> 
    </div>
<% end %>

      <% if @committee_members.present? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:member_id) %></th>
      <th><%= model_class.human_attribute_name(:organization_id) %></th>
      <th><%= model_class.human_attribute_name(:committee_id) %></th>
      <th><%= model_class.human_attribute_name(:role) %></th>
      <th><%= model_class.human_attribute_name(:year) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @committee_members.each do |committee_member| %>
      <tr>
        <td><%= committee_member.member.name if committee_member.member.present? %></td>
        <td><%= committee_member.organization.organization_name if committee_member.organization.present? %></td>
        <td><%= Committee.find(committee_member.committee_id).name if Committee.find(committee_member.committee_id).present? %></td>
        <td><%= committee_member.role %></td>
        <td><%= committee_member.year %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      committee_member_path(committee_member), :class => 'btn btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_committee_member_path(committee_member), :class => 'btn btn-primary btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")), committee_member_path(committee_member), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger btn-xs' if current_user.role == "Admin" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
      <% else %>
    <br/>
<div class="alert alert-info">No data found.</div>
      <% end -%>

