<%- model_class = CommitteeMember -%>
<div class="">
  <h4><%=t '.title', :default => model_class.model_name.human %></h4>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:organization_id) %>:</strong></dt>
  <dd><%= @committee_member.organization.organization_name if @committee_member.organization.present? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:committee_id) %>:</strong></dt>
  <dd><%= Committee.find(@committee_member.committee_id).name if Committee.find(@committee_member.committee_id).present? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:member_id) %>:</strong></dt>
  <dd><%= @committee_member.member.name if @committee_member.member.present? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:role) %>:</strong></dt>
  <dd><%= @committee_member.role %></dd>
  <dt><strong><%= model_class.human_attribute_name(:year) %>:</strong></dt>
  <dd><%= @committee_member.year %></dd>

<br/>
<h5>Member Information</h5>
  <dt><strong><%= model_class.human_attribute_name(:member_no) %>:</strong></dt>
  <dd><%= @committee_member.member.member_no %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @committee_member.member.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:burmese_name) %>:</strong></dt>
  <dd><%= @committee_member.member.burmese_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dob) %>:</strong></dt>
  <dd><%= @committee_member.member.dob %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nrc) %>:</strong></dt>
  <dd><%= @committee_member.member.nrc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:father_name) %>:</strong></dt>
  <dd><%= @committee_member.member.father_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @committee_member.member.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:township) %>:</strong></dt>
  <dd><%= @committee_member.member.township %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @committee_member.member.state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @committee_member.member.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @committee_member.member.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:is_world_member) %>:</strong></dt>
  <dd><%= @committee_member.member.is_world_member %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              committee_members_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_committee_member_path(@committee_member), :class => 'btn btn-primary' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")), committee_member_path(@committee_member), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger' if current_user.role == "Admin" %>
</div>

<div class="container"><br/></div>