<h4>Edit Current Password</h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :class => 'form-horizontal' }) do |f| %>
  <% if @user.errors.any? %>
    <strong><%= @user.errors.count %> errors detected.</strong>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
<!-- 
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
 -->
<!-- <fieldset> -->
  <!-- <legend>New Password <small>(leave blank if you don't want to change it)</small></legend> -->
  <div class="form-group">
    <%= f.label :new_password, class: 'control-label col-md-2' %> 
    <div class="col-md-4">
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: '8 characters minimum' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: 'control-label col-md-2' %>
    <div class="col-md-4">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>
  </div>
<!-- </fieldset> -->

  <div class="form-group">
   <i>(we need your current password to confirm your changes)</i><br />
    <%= f.label :current_password, class: 'control-label col-md-2' %> 
    <div class="col-md-4">
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= link_to "Back", :back, class: 'btn' %>
    <%= f.submit "Update", class: 'btn btn-primary' %>
  </div>
<% end %>

<hr/>
<h5>Cancel my account</h5>
<div class="col-md-12">
<p>Unhappy?</p>
</div>
<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %>
